{% extends "../base.html" %}
{% block content %}
<body>
    <div class="room-select">
        Type the name of the user you want to talk with<br/>
        <input id="user-name-imput" type="text" size="100"/><br/>
        <input id="user-name-submit" type="button" value="Enter"/>
    </div> 

    <script>
        document.querySelector('#user-name-imput').focus();
        document.querySelector('#user-name-imput').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#user-name-submit').click();
            }
        };

        document.querySelector('#user-name-submit').onclick = function(e) {
            var userName = document.querySelector('#user-name-imput').value;
            window.location.pathname = '/chat/' + userName + '/';
        };
    </script>
</body>
{% endblock %}