<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
{% include 'css.html' %}
<style class="cp-pen-styles">
        .container{max-width:1170px; margin:auto;}
        img{ max-width:100%;}
        .inbox_people {
          background: #f8f8f8 none repeat scroll 0 0;
          float: left;
          overflow: hidden;
          width: 40%; border-right:1px solid #c4c4c4;
        }
        .inbox_msg {
          border: 1px solid #c4c4c4;
          clear: both;
          overflow: hidden;
        }
        .top_spac{ margin: 20px 0 0;}
        
        
        .recent_heading {float: left; width:40%;}
        .srch_bar {
          display: inline-block;
          text-align: right;
          width: 60%; padding:
        }
        .headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}
        
        .recent_heading h4 {
          color: #05728f;
          font-size: 21px;
          margin: auto;
          margin-top: 20px;
        }
        .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;margin-top: 20px;}
        .srch_bar .input-group-addon button {
          background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
          border: medium none;
          padding: 0;
          color: #707070;
          font-size: 18px;
        }
        .srch_bar .input-group-addon { margin: 0 0 0 -27px;}
        
        .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
        .chat_ib h5 span{ font-size:13px; float:right;}
        .chat_ib p{ font-size:14px; color:#989898; margin:auto}
        .chat_img {
          float: left;
          width: 11%;
          border-radius: 50%;
        }
        .chat_ib {
          float: left;
          padding: 0 0 0 15px;
          width: 88%;
        }
        
        .chat_people{ overflow:hidden; clear:both;}
        .chat_list {
          border-bottom: 1px solid #c4c4c4;
          margin: 0;
          padding: 18px 16px 10px;
        }
        .inbox_chat { height: 500px; overflow-y: scroll;}
        
        .active_chat{ background:#ebebeb;}
        p { word-break: break-all }
        .incoming_msg_img {
          display: inline-block;
          width: 6%;
        }
        .received_msg {
          display: inline-block;
          padding: 0 0 0 10px;
          vertical-align: top;
          width: 92%;
         }
         .received_withd_msg p {
          background: #ebebeb none repeat scroll 0 0;
          border-radius: 3px;
          color: #646464;
          font-size: 14px;
          margin: 0;
          padding: 5px 10px 5px 12px;
          width: 100%;
        }
        .time_date {
          color: #747474;
          display: block;
          font-size: 12px;
          margin: 4 px 0 0;
        }
        .author {
          color: #344d6d;
          display: block;
          font-size: 14px;
          font-weight: bold;
          margin: 4 px 0 0;
        }
        .received_withd_msg { width: 57%;}
        .mesgs {
          float: left;
          padding: 30px 15px 0 25px;
          width: 60%;
        }
         .received_msg p {
          background: #979797 none repeat scroll 0 0;
          border-radius: 3px;
          font-size: 14px;
          margin: 0; color:rgb(8, 0, 0);
          padding: 5px 10px 5px 12px;
          width:100%;
        }
        .incoming_msg{ overflow:hidden; margin:26px 0 26px;}
        .received_msg {
          float: left;
          width: 46%;
        }
         .sent_msg p {
          background: #05728f none repeat scroll 0 0;
          border-radius: 3px;
          font-size: 14px;
          margin: 0; color:#fff;
          padding: 5px 10px 5px 12px;
          width:100%;
        }
        .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
        .sent_msg {
          float: right;
          width: 46%;
        }
        .input_msg_write input {
          background: rgba(76, 234, 240, 0) none repeat scroll 0 0;
          color: #4c4c4c;
          font-size: 15px;
          min-height: 48px;
          width: 100%;
        }
        
        .type_msg {border-top: 1px solid #52c7c7;position: relative;}
        .msg_send_btn {
          background: #05728f none repeat scroll 0 0;
          color: rgb(104, 237, 255);
          cursor: pointer;
          font-size: 17px;
          height: 33px;
          position: absolute;
          right: 0;
          top: 11px;
          width: 33px;
        }
        .messaging { padding: 0 0 50px 0;}
        .msg_history {
          height: 400px;
          overflow-y: auto;
        }
        body {
          background: #9ddcfa;
          color: #333333;
          margin-top: 5rem;
        }

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-top: 60px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

</style>
{% load static %}
<html>
    <head>
        <!-- Required meta tags -->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
       <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
       {% if title %}
           <title>Django Blog - {{ title }}</title>
       {% else %}
           <title>Django Blog</title>
       {% endif %}
   </head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
          {% if user.is_authenticated %}
            <a class="notify bell" data-status="close" href="#">
                <div class="notification-bell">
                  <img src="{% static 'chatroom/notification_bell.png' %}" heigh="40px" width="40px"></img>
                </div>
                    <div class="count" id="count" data-count="{{notification_count}}">
                        <strong>{{notification_count}}</strong>
                    </div>
            </a>
          {% endif %}
          <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'home' %}">SOCIO CHAT</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                <a class="nav-item nav-link" href=#>About</a>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if user.is_authenticated %}
                  <a class="nav-item nav-link" href="{% url 'profile' %}">{{ user }}'s Profile</a>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% else %}
                  <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
<div class="container">
    {% block content %}
    <h3 class=" text-center">User {% if user != object.first %} {{ user }} Talking To {{ object.first }}{% else %} {{ user }} Talking To {{ object.second }}{% endif %}</h3>
    <div class="messaging">
            <div class="inbox_msg">
              <div class="inbox_people">
                <div class="headind_srch">
                  <div class="recent_heading">
                    <h4>Chat Room</h4>
                  </div>
                  <div class="srch_bar">
                    <div class="stylish-input-group">
                      <input type="text" class="search-bar"  placeholder="Search" >
                      <span class="input-group-addon">
                      <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                      </span> </div>
                  </div>
                </div>
                {% if user != object.first %}
                  <div class="inbox_chat">
                    <div class="chat_list active_chat">
                      <div class="chat_people">
                        <div class="chat_img" class="rounded-circle article-img"> <img src="{{ object.first.profile.image.url }}" > </div>
                        <div class="chat_ib">
                          <h5>{{ object.first }}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                {% else %}
                  <div class="inbox_chat">
                    <div class="chat_list active_chat">
                      <div class="chat_people">
                        <div class="chat_img" > <img src="{{ object.second.profile.image.url }}" > </div>
                        <div class="chat_ib">
                          <h5>{{ object.second }}</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
              </div>
                <div class="mesgs">
                    <div class="msg_history">                            
                        {% for chat in object.chatmessage_set.all %}
                            {% if chat.user == user %}
                                <div class="outgoing_msg">
                                    <div class="sent_msg" id='chat-items-sent-now' >                                
                                        <input type="hidden" id='theUsername' value='{{ chat.username }}'/>
                                        <p>{{ chat.message }}</p>
                                        <span class="time_date"><small> on {{chat.timestamp}}</small></span>
                                    </div>
                                </div>
                            {% else %}
                                <div class="incoming_msg">
                                    <div class="received_msg">       
                                    <div class="received_withd_msg">                         
                                        <input type="hidden" id='theUsername' value='{{ chat.user }}'/>
                                        <p> <span class="author"> {{ chat.user }} </span> {{ chat.message }}</p>
                                        <span class="time_date"> <small> on {{chat.timestamp}}</small></span>                                        
                                    </div>
                                  </div>
                                </div>
                            {% endif %}
                        {% endfor %}    
                        <div id = 'msg_container' id='chat-items-receive-now'>
                        </div>                                                                                        
                    </div>
                        <div class="type_msg">
                            <div class="input_msg_write">
                                <form id='form' method='POST'> {% csrf_token %}
                                    <input type="hidden" id='myUsername' value='{{ user.username }}'/>
                                    {{ form.as_p }}
                                    <input type='submit' class='btn btn-primary' id="btn-chat"/>
                                </form>
                              <!-- <input type="text" class="write_msg" placeholder="Type a message" />
                              <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button> -->
                            </div>
                        </div>
                </div>
                
            </div>
    </div>    
    {% endblock %}
</div>


{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
<script>
// websocket scripts
// console.log(window.location)
var loc = window.location
var formData = $("#form")
var msgInput = $("#id_message")
var msgRaw = $("#msg_container")
var chatHolderSent = $("#chat-items-sent-now")
var chatHolderReceive = $("#chat-items-receive-now")
var me = $("#myUsername").val()
var user = $("#theUsername")

var wsStart = 'ws://'
if(loc.protocol == 'https:'){
    wsStart = 'wss://'
}
var endpoint = wsStart + loc.host + loc.pathname
var socket = new ReconnectingWebSocket(endpoint)

socket.onmessage = function (e){
    console.log("message", e)
    var chatDataMsg = JSON.parse(e.data)
    
    if(me != chatDataMsg.username){
        msgRaw.append("<div class=" + '"' + "incoming_msg" + '"' + "><div class=" + '"' + "received_msg" + '"' + "><p> <span class=" + '"' + "author" + '"' + ">" +  chatDataMsg.username + "</span>" + chatDataMsg.message + "</p> <span class=" + '"' + "time_date" + '"' + "><small> rigth now </small></span></div></div>")
    }
    if(me == chatDataMsg.username){
        msgRaw.append("<div class=" + '"' + "outgoing_msg" + '"' + "><div class=" + '"' + "sent_msg" + '"' + "><p>" + chatDataMsg.message + "</p> <span class=" + '"' + "time_date" + '"' + "> by you <small> rigth now </small></span></div></div>")
    }
}   
socket.onopen = function (e){
    console.log("open", e)
    formData.submit(function(event){
        event.preventDefault()
        var msgText = msgInput.val()
        var finalData = {
            'message': msgText
        }
        socket.send(JSON.stringify(finalData))
        formData[0].reset()
    })
}
socket.onerror = function (e){
    console.log("error", e)
}
socket.onclose = function (e){
    console.log("close", e)
}

</script>
{% endblock %}