{% extends "../base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section-form">
        <div class="border-top pt-3">
                <a class="btn btn-outline-info" href="{% url 'login' %}">Login Now</a>
            <small class="text-muted">
                Nedd An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock content %}