{% extends "../base.html" %}
{% load static %} 
{% block content %}
<meta http-equiv="refresh" content="20"/>
<body>
    
    <div class="room-preview1">
        <article class="media content-section">
            <h5>Last Messages in your Rooms</h5>
        </article>
        {% for chat in chats %}
            {% if chat.room.author == request.user %}
                {% if chat.room.private == "public" %}
                    {% if chat.bot %}
                        <article class="media content-section-bot">
                            <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom.png' %}">
                            <div class="media-body">
                                <a href="/chatroom/{{chat.room.name}}/public/{{chat.room.channel}}/{{chat.room.original_author}}/room"><strong> {{chat.room.name}} <small> at  {{chat.timestamp}} Talking with SOCIO</small> </strong> </a>
                                <p> <strong> By {{ chat.user }} </strong> - {{ chat.message }} </p>
                            </div>
                        </article>
                    {% else %}
                        <article class="media content-section">
                            <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom.png' %}">
                            <div class="media-body">
                                <a href="/chatroom/{{chat.room.name}}/public/{{chat.room.channel}}/{{chat.room.original_author}}/room"><strong> {{chat.room.name}} <small> at  {{chat.timestamp}} </small> </strong> </a>
                                <p> <strong> By {{ chat.user }} </strong> - {{ chat.message }} </p>
                            </div>
                        </article>
                    {% endif %}
                {% else %}
                    <article class="media content-section">
                        <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom.png' %}">
                        <div class="media-body">
                            <a href="/chatroom/{{chat.room.name}}/private/{{chat.room.channel}}/{{chat.room.original_author}}/room"><strong> {{chat.room.name}} <small> at  {{chat.timestamp}} </small> </strong> </a>
                            <p> <strong> By {{ chat.user }} </strong> - {{ chat.message }}</p>
                        </div>
                    </article>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>  
    <div class="room-preview2">
        <article class="media content-section">
            <h5>Last Model Modifications</h5>
        </article>        
        {% for chat in lastmodifchats %}
            {% for botchat in chat %}
                    {% if botchat.room.private == "public" %}
                        {% if botchat.external %}
                            <article class="media content-section-bot-external">
                                <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom-priv.png' %}">
                                <div class="media-body">
                                    <a href="/chatroom/{{botchat.room.name}}/public/{{botchat.room.channel}}/{{botchat.room.original_author}}/room"> <strong> {{botchat.room.name}} <small> at  {{botchat.timestamp}} Talking with SOCIO</small> </strong> </a>
                                    <p> {{ botchat.message }} </p>
                                    <a class="btn btn-info btn-sm mt-1 mb-1" id="GetImage" onclick="getImage('{{botchat.room.name}}', '{{botchat.room.original_author}}', '{{botchat.room.channel}}')" title="" href="javascript:void(0)">Get Image</a>
                                </div>
                            </article>
                        {% else %}
                            {% if botchat.bot %}
                                <article class="media content-section-bot">
                                    <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom-priv.png' %}">
                                    <div class="media-body">
                                        <a href="/chatroom/{{botchat.room.name}}/public/{{botchat.room.channel}}/{{botchat.room.original_author}}/room"> <strong> {{botchat.room.name}} <small> at  {{botchat.timestamp}} Talking with SOCIO</small> </strong> </a>
                                        <p> <strong> By {{ botchat.user }} </strong> - {{ botchat.message }} </p>
                                        <a class="btn btn-info btn-sm mt-1 mb-1" id="GetImage" onclick="getImage('{{botchat.room.name}}', '{{botchat.room.original_author}}', '{{botchat.room.channel}}')" title="" href="javascript:void(0)">Get Image</a>
                                    </div>
                                </article>
                            {% else %}
                                <article class="media content-section">
                                    <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom-priv.png' %}">
                                    <div class="media-body">
                                        <a href="/chatroom/{{botchat.room.name}}/public/{{botchat.room.channel}}/{{botchat.room.original_author}}/room"> <strong> {{botchat.room.name}} <small> at  {{botchat.timestamp}} </small> </strong> </a>
                                        <p> <strong> By {{ botchat.user }} </strong> - {{ botchat.message }} </p>
                                    </div>
                                </article>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {% if botchat.bot %}
                            <article class="media content-section-bot">
                                <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom-priv.png' %}">
                                <div class="media-body">
                                    <a href="/chatroom/{{botchat.room.name}}/private/{{botchat.room.channel}}/{{botchat.room.original_author}}/room"><strong> {{botchat.room.name}} <small> at  {{botchat.timestamp}} Talking with SOCIO</small> </strong> </a>
                                    <p> <strong> By {{ botchat.user }} </strong> - {{ botchat.message }}</p>
                                    <a class="btn btn-info btn-sm mt-1 mb-1" id="GetImage" onclick="getImage('{{botchat.room.name}}', '{{botchat.room.original_author}}', '{{botchat.room.channel}}')" title="" href="javascript:void(0)">Get Image</a>
                                    
                                </div>
                            </article>
                        {% else %}
                            <article class="media content-section">
                                <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom-priv.png' %}">
                                <div class="media-body">
                                    <a href="/chatroom/{{botchat.room.name}}/private/{{botchat.room.channel}}/{{botchat.room.original_author}}/room"><strong> {{botchat.room.name}} <small> at  {{botchat.timestamp}} </small> </strong> </a>
                                    <p> <strong> By {{ botchat.user }} </strong> - {{ botchat.message }}</p>
                                </div>
                            </article>
                        {% endif %}
                    {% endif %}
            {% endfor %}                
        {% endfor %}
    </div>       
    <div class="room-preview3">
        <article class="media content-section">
            <h5>Last Messages Per Room</h5>
        </article>
        {% for chats in lastchats %}
            {% for chat in chats %}
                {% if chat.room.author == request.user %}
                    {% if chat.room.private == "public" %}
                        {% if chat.bot %}
                            <article class="media content-section-bot">
                                <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom.png' %}">
                                <div class="media-body">
                                    <a href="/chatroom/{{chat.room.name}}/public/{{chat.room.channel}}/{{chat.room.original_author}}/room"> <strong> {{chat.room.name}} <small> at  {{chat.timestamp}} Talking with SOCIO</small> </strong> </a>
                                    <p> <strong> By {{ chat.user }} </strong> - {{ chat.message }}</p>
                                </div>
                            </article>
                        {% else %}
                            <article class="media content-section">
                                <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom.png' %}">
                                <div class="media-body">
                                    <a href="/chatroom/{{chat.room.name}}/public/{{chat.room.channel}}/{{chat.room.original_author}}/room"> <strong> {{chat.room.name}} <small> at  {{chat.timestamp}} </small> </strong> </a>
                                    <p> <strong> By {{ chat.user }} </strong> -{{ chat.message }}</p>
                                </div>
                            </article>
                        {%  endif %}
                    {% else %}
                        {% if chat.bot %}
                            <article class="media content-section-bot">
                                <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom.png' %}">
                                <div class="media-body">
                                    <a href="/chatroom/{{chat.room.name}}/private/{{chat.room.channel}}/{{chat.room.original_author}}/room"><strong> {{chat.room.name}} <small> at  {{chat.timestamp}} Talking with SOCIO</small> </strong> </a>
                                    <p> <strong> By {{ chat.user }} </strong> - {{ chat.message }}</p>
                                </div>
                            </article>
                        {% else %}
                            <article class="media content-section">
                                <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom.png' %}">
                                <div class="media-body">
                                    <a href="/chatroom/{{chat.room.name}}/private/{{chat.room.channel}}/{{chat.room.original_author}}/room"><strong> {{chat.room.name}} <small> at  {{chat.timestamp}} </small> </strong> </a>
                                    <p> <strong> By {{ chat.user }} </strong> - {{ chat.message }}</p>
                                </div>
                            </article>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if chat.room.private == "public" %}
                        <article class="media content-section">
                            <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom-priv.png' %}">
                            <div class="media-body">
                                <a href="/chatroom/{{chat.room.name}}/public/{{chat.room.channel}}/{{chat.room.original_author}}/room"> <strong> {{chat.room.name}} <small> at  {{chat.timestamp}} </small> </strong> </a>
                                <p> <strong> By {{ chat.user }} </strong> - {{ chat.message }}</p>
                            </div>
                        </article>
                    {% else %}
                        <article class="media content-section">
                            <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom-priv.png' %}">
                            <div class="media-body">
                                <a href="/chatroom/{{chat.room.name}}/private/{{chat.room.channel}}/{{chat.room.original_author}}/room"><strong> {{chat.room.name}} <small> at  {{chat.timestamp}} </small> </strong> </a>
                                <p> <strong> By {{ chat.user }} </strong> - {{ chat.message }}</p>
                            </div>
                        </article>
                    {% endif %}   
                {% endif %}
            {% endfor %}
        {% endfor %}

        <div class="form-popup" id="myFormAddUser">   
            <img class="img-notification" id="img" style="display: none;">
            <button class="btn btn-danger btn-sm mt-1 mb-1" id="close-btn" style="display: none;"> Close Image</a>
        </div>
        

        <input type="hidden" id='userId' value='{{ user.id }}' />
        <input type="hidden" id='myUsername' value='{{ user.username }}' />
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            var privacity = document.querySelector('input[name="privacity"]:checked').value;
            window.location.pathname = '/chatroom/' + roomName + '/' + privacity + '/';
        };
    </script>

<script type="text/javascript">
    window.onload = function(){
        console.log("EJECUTANDO HILO");
        var url = "http://dimo1.ii.uam.es:8080/Socio-rest/updates/getupdates/Socio-App";
        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
        xmlhttp.onreadystatechange = function(){
          if(xmlhttp.readyState == 4) {
              if(xmlhttp.status == 200) {
                var data = xmlhttp.response;
                console.log(data);
                if(data.projectList.length > 0){
                    var allProys = "<br>"
                    for (var i = 0; i < data.projectList.length; i++) { 
                        allProys += "<b>Author: " + data.projectList[i].admin.name + " Project: " + data.projectList[i].name + " Channel: " + data.projectList[i].admin.channel + "</b> <br>";
                    }
                    console.log(allProys);
                    alertify.alert('Project Changes', 'The following project/s have changes: ' + allProys + "<br> Access to those projects to view the modifications" , function(){ alertify.success('Ok'); });    
                }                   
              } 
          } else if(xmlhttp.readyState == 2) {
              if(xmlhttp.status == 200) {
                  xmlhttp.responseType = "json";
              } else {
                  xmlhttp.responseType = "text";
              }
          }
        }
        xmlhttp.open("GET", url);
        xmlhttp.send();
      };
   </script>
    
    <script>
        var myJSONList = (("{{users}}").replace(/&(l|g|quo)t;/g, function(a,b){
                return {
                    l   : '<',
                    g   : '>',
                    quo : '"'
                }[b];
            }));
        myData = JSON.parse( myJSONList )
        $("#close-btn").click(function() {      
            document.getElementById("myFormAddUser").style.display = "none";
            document.getElementById("img").style.display = "none";
            document.getElementById("close-btn").style.display = "none";
        });

        // for (i = 0; i < myData.length; i++) { 
        //     if(myData[i].fields.username === userName){
        //     userAddId = myData[i].pk;
        //     }
        // }

        function getImage(room, author, channel) {
            var time = Date.now();
            var me = $("#myUsername").val();
            var user_id = $("#userId").val();
            var userAddId = 0;
            for (i = 0; i < myData.length; i++) { 
                if(myData[i].fields.username === me){
                    userAddId = myData[i].pk;
                }
            }
            var user = {
                nick: $("#myUsername").val(),
                name: $("#myUsername").val(),
                channel: "Socio-App",
                id: user_id
            };
            var msg_to_send = {
                user: user,
                msg: "",
                text: "",
                date: time,
                id: user_id
            }; 
            document.getElementById("myFormAddUser").style.display = "block";
            
            var url = "http://dimo1.ii.uam.es:8080/Socio-rest/editor/do/" + channel + "/" + author + "/" + room;
            var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
            xmlhttp.onreadystatechange = function(){
                if(xmlhttp.readyState == 4) {
                    if(xmlhttp.status == 200) {
                    var img = document.getElementById("img"); 
                    var url = window.URL || window.webkitURL;
                    img.src = url.createObjectURL(this.response);
                    document.getElementById("img").style.display = "block";
                    document.getElementById("close-btn").style.display = "block";
                    } else if(xmlhttp.responseText != "") {
                        alertify.error(xmlhttp.responseText);
                    }
                } else if(xmlhttp.readyState == 2) {
                    if(xmlhttp.status == 200) {
                        xmlhttp.responseType = "blob";
                    } else {
                        xmlhttp.responseType = "text";
                    }
                }
            }
            xmlhttp.open("POST", url);
            xmlhttp.setRequestHeader("Content-Type", "application/json");
            xmlhttp.send(JSON.stringify(msg_to_send));
        }
    </script>
</body>
{% endblock %}