{% extends "../base.html" %}
{% load static %}
{% block content %}
<body>
    <div class="room-select">
        <br/>
        <input id="room-name-input" type="text" maxlength="20" size="40" placeholder="Name of the project you want to search" onkeypress="return AvoidSpace(event)"/><br/>      
        <font color="red"><div id="errorDiv"></div></font>
        <p>Channel: <input type="radio" name="channel" value="telegram" checked> Telegram
            <input type="radio" name="channel" value="twitter"> Twitter            
            <input type="radio" name="channel" value="skype"> Skype
            <input type="radio" name="channel" value="slack"> Slack<br>
        
        <input class="btn btn-primary" id="room-name-submit" type="button" value="Enter"/> 
    </div> 
    <div class="room-select-other">
        <article class="media content-section">
            <h5>External Apps Projects Rooms</h5>
        </article>         
        {% for room in rooms %}
            {% if not room.branch and room.channel != "Socio-App"%}
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom.png' %}">
                    <div class="media-body">
                            <p>Room: <a href="/chatroom/{{room.name}}/{{room.private}}/{{room.channel}}/{{room.original_author}}/room"><strong>{{room.name}}</strong> </a> <br/>
                             Original Author: {{room.original_author}} <br/>
                             Channel: {{room.channel}} <br/>
                             Visibility: {{room.private}} <br/>
                            </p>
                            <div>
                                <a class="btn btn-success btn-sm mt-1 mb-1" href="/chatroom/{{room.name}}/public/{{room.channel}}/{{room.original_author}}/room">Access</a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'room-delete' room.id %}">Delete Reference</a>
                            </div>
                    </div>
                </article>
            {% endif %}  
        {% endfor %} 
    </div>

    <input type="hidden" id='myUsername' value='{{ user.username }}' />
    <input type="hidden" id='userId' value='{{ user.id }}' />

    {% block script %}
    
    <script>
        
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            var channel = document.querySelector('input[name="channel"]:checked').value;
            var me = $("#myUsername").val();
            var user_id = $("#userId").val();   
            var existe = false;      
            var privacidad;
            var autor;

            $.ajax({
                type: 'GET',
                url: "http://dimo1.ii.uam.es:8080/Socio-rest/projects",
                contentType: 'application/json',
                dataType:'json',
                responseType:'application/json',
                xhrFields: {
                    withCredentials: false
                },
                headers: {
                    'Access-Control-Allow-Credentials' : true,
                    'Access-Control-Allow-Origin':'*',
                    'Access-Control-Allow-Methods':'GET',
                    'Access-Control-Allow-Headers':'application/json',
                },
                success: function(data) {
                    data.projectList.forEach(function(element) {
                                                                if((element.name == roomName) && (element.admin.channel == channel)){
                                                                    existe = true;
                                                                    privacidad = element.visibility;
                                                                    autor = element.admin.nick;
                                                                }
                                                            });                                     
                    if(existe == true){
                        var visibility = privacidad.toLowerCase();
                        window.location.pathname = '/chatroom/' + roomName + '/' + visibility + '/' + channel + '/' + autor + '/room';
                    }
                    else{
                        var errorDiv = document.getElementById("errorDiv");
                        errorDiv.innerHTML = "The project doesn't exist";   
                        alertify.alert("The Project: <b>" + roomName + "</b> from Channel: <b>" + channel + "</b> doesn't exist.", function(){
                            alertify.message('OK');
                        });       
                    }
                },
                error: function(error) {
                    console.log("error");
                    console.log(this.response);
                    alertify.alert("An error has ocurred during API call.", function(){
                        alertify.message('OK');
                    }); 
                }
            });        
                
        };

        
    </script>
    {% endblock %}
</body>
{% endblock %}