{% extends "../base.html" %}
{% load static %}

{% block content %}
    <div class="content-section-form">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Room</legend>
                <h2>Are you sure you want to delete the room "{{ object.name }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit" id="delete_room">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'chatroom-home' %}">Cancel</a>
            </div>
        </form>
        <input type="hidden" id='myUsername' value='{{ user.username }}' />
        <input type="hidden" id='userId' value='{{ user.id }}' />
        <input type="hidden" id='roomName' value='{{ object.name }}' />
    </div>


{% block script %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript">

        $(function() {
            $("#delete_room").click(function(e) {
                var roomName = $("#roomName").val();
                var me = $("#myUsername").val();
                var user_id = $("#userId").val();

                var user = {
                    nick: $("#myUsername").val(),
                    name: $("#myUsername").val(),
                    channel: "Socio-App",
                    id: user_id
                };
                ///configuration/remove_project/{channel}/{user_admin}/{Project_name}
                $.ajax({
                    type: 'POST',
                    url: "http://dimo1.ii.uam.es:8080/Socio-rest/configuration/remove_project/Socio-App/"  + me + "/" + roomName,
                    contentType: 'application/json',
                    dataType:'json',
                    responseType:'text',
                    data: JSON.stringify(user),
                    xhrFields: {
                        withCredentials: false
                    },
                    headers: {
                        'Access-Control-Allow-Credentials' : true,
                        'Access-Control-Allow-Origin':'*',
                        'Access-Control-Allow-Methods':'POST',
                        'Access-Control-Allow-Headers':'application/json',
                    },
                    success: function(data) {
                        console.log(data);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
        
    </script>
    {% endblock %}
    {% endblock %}