<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>
{% load static %}
<!------ Include the above in your HEAD tag ---------->
<style class="cp-pen-styles">

.container-img {
  position: relative;
  width: 90%;
}

.container-img img {
  width: 90%;
  height: auto;
}

.container-img .btn {
  position: absolute;
  top: 0%;
  rigth: 100%;
  background-color: rgb(231, 14, 14);
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container-img .btn:hover {
  background-color: rgb(218, 5, 5);
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 1000;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


  .container{max-width:1170px; margin:auto;}
        img{ max-width:100%;}
        .inbox_people {
          background: #f8f8f8 none repeat scroll 0 0;
          float: left;
          overflow: hidden;
          width: 25%; border-right:1px solid #c4c4c4;
        }
        .inbox_actions {
          background: #f8f8f8 none repeat scroll 0 0;
          float: left;
          overflow: hidden;
          width: 25%; border-right:1px solid #c4c4c4;
        }
        .inbox_msg {
          border: 1px solid #c4c4c4;
          clear: both;
          overflow: hidden;
        }
        .top_spac{ margin: 20px 0 0;}

        .recent_heading {float: left; width:100%;}
        .srch_bar {
          text-align: right;
          width: 60%; padding:
        }
        .headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}
        
        .recent_heading h4 {
          color: #05728f;
          font-size: 21px;
          margin: auto;
          margin-top: 20px;
        }
        .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;margin-top: 20px;}
        .srch_bar .input-group-addon button {
          background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
          border: medium none;
          padding: 0;
          color: #707070;
          font-size: 18px;
        }
        .srch_bar .input-group-addon { margin: 0 0 0 -27px;}
        
        .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
        .chat_ib h6{ font-size:15px; color:#00ce33; margin:0 0 8px 0;}
        .chat_ib h5 span{ font-size:13px; float:right;}
        .chat_ib p{ font-size:14px; color:#989898; margin:auto}
        .chat_img {
          float: left;
          width: 11%;
          border-radius: 50%;
        }
        .chat_ib {
          float: left;
          padding: 0 0 0 15px;
          width: 88%;
        }
        
        .chat_people{ overflow:hidden; clear:both;}
        .chat_list {
          border-bottom: 1px solid #c4c4c4;
          margin: 0;
          padding: 18px 16px 10px;
        }
        .inbox_chat { height: 500px; overflow-y: scroll;}
        
        .active_chat{ background:#ebebeb;}
        p { word-break: break-all }
        .incoming_msg_img {
          width: 6%;
        }
        .received_msg {
          padding: 0 0 0 10px;
          vertical-align: top;
          width: 92%;
         }
         .received_withd_msg p {
          background: #ebebeb none repeat scroll 0 0;
          border-radius: 3px;
          color: #646464;
          font-size: 14px;
          margin: 0;
          padding: 5px 10px 5px 12px;
          width: 100%;
          -moz-border-radius: 12px;
          -webkit-border-radius: 12px;
          border-radius: 12px;
          -moz-box-shadow: 4px 4px 14px #000;
          -webkit-box-shadow: 4px 4px 14px #000;
          box-shadow: 4px 4px 14px #000;
          margin: 5% auto;
          -ms-word-break: break-all;
          word-break: break-all;
          /* Non standard for WebKit */
          word-break: break-word;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          hyphens: auto;
        }
        .time_date {
          color: #747474;
          font-size: 12px;
          margin: 4 px 0 0;
        }
        .author {
          color: #344d6d;
          display: block;
          font-size: 14px;
          font-weight: bold;
          margin: 4 px 0 0;
        }
        .received_withd_msg { width: 57%;}
        .mesgs {
          float: left;
          padding: 30px 15px 0 25px;
          width: 50%;
        }
         .received_msg p {
          background: #979797 none repeat scroll 0 0;
          border-radius: 3px;
          font-size: 14px;
          margin: 0; color:rgb(8, 0, 0);
          padding: 5px 10px 5px 12px;
          width:100%;
          -moz-border-radius: 12px;
          -webkit-border-radius: 12px;
          border-radius: 12px;
          -moz-box-shadow: 4px 4px 14px #000;
          -webkit-box-shadow: 4px 4px 14px #000;
          box-shadow: 4px 4px 14px #000;
          margin: 5% auto;
          -ms-word-break: break-all;
          word-break: break-all;
          /* Non standard for WebKit */
          word-break: break-word;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          hyphens: auto;
        }
        .incoming_msg{ overflow:hidden; margin:26px 0 26px;}
        .received_msg {
          float: left;
          width: 46%;
        }
         .sent_msg p {
          background: #05728f none repeat scroll 0 0;
          border-radius: 3px;
          font-size: 14px;
          margin: 0; color:#fff;
          padding: 5px 10px 5px 12px;
          width:100%;
          -moz-border-radius: 12px;
          -webkit-border-radius: 12px;
          border-radius: 12px;
          -moz-box-shadow: 4px 4px 14px #000;
          -webkit-box-shadow: 4px 4px 14px #000;
          box-shadow: 4px 4px 14px #000;
          margin: 5% auto;
          -ms-word-break: break-all;
          word-break: break-all;
          /* Non standard for WebKit */
          word-break: break-word;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          hyphens: auto;
        }
        #metalkbot{
          background: #10ff9b none repeat scroll 0 0;
          border-radius: 3px;
          font-size: 14px;
          margin: 0; color:#fff;
          padding: 5px 10px 5px 12px;
          width:100%;
          -moz-border-radius: 12px;
          -webkit-border-radius: 12px;
          border-radius: 12px;
          -moz-box-shadow: 4px 4px 14px #000;
          -webkit-box-shadow: 4px 4px 14px #000;
          box-shadow: 4px 4px 14px #000;
          margin: 5% auto;
          -ms-word-break: break-all;
          word-break: break-all;
          /* Non standard for WebKit */
          word-break: break-word;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          hyphens: auto;
        }

        #youtalkbot{
          background: #13a065 none repeat scroll 0 0;
          border-radius: 3px;
          font-size: 14px;
          margin: 0; color:#fff;
          padding: 5px 10px 5px 12px;
          width:100%;
          -moz-border-radius: 12px;
          -webkit-border-radius: 12px;
          border-radius: 12px;
          -moz-box-shadow: 4px 4px 14px #000;
          -webkit-box-shadow: 4px 4px 14px #000;
          box-shadow: 4px 4px 14px #000;
          margin: 5% auto;
          -ms-word-break: break-all;
          word-break: break-all;
          /* Non standard for WebKit */
          word-break: break-word;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          hyphens: auto;
        }

        #externaltalkbot{
          background: #ccf806 none repeat scroll 0 0;
          border-radius: 3px;
          font-size: 14px;
          margin: 0; color:#fff;
          padding: 5px 10px 5px 12px;
          width:100%;
          -moz-border-radius: 12px;
          -webkit-border-radius: 12px;
          border-radius: 12px;
          -moz-box-shadow: 4px 4px 14px #000;
          -webkit-box-shadow: 4px 4px 14px #000;
          box-shadow: 4px 4px 14px #000;
          margin: 5% auto;
          -ms-word-break: break-all;
          word-break: break-all;
          /* Non standard for WebKit */
          word-break: break-word;
          -webkit-hyphens: auto;
          -moz-hyphens: auto;
          hyphens: auto;
        }

        #ref-button{
          margin-right: 10%;
        }

        .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
        .sent_msg {
          float: right;
          width: 30%;
        }
        .input_msg_write input {
          
          background: rgba(76, 234, 240, 0) none repeat scroll 0 0;
          color: #4c4c4c;
          font-size: 15px;
          min-height: 48px;
          width: 100%;
        }
        
        .type_msg {border-top: 1px solid #52c7c7;position: relative;}
        .msg_send_btn {
          background: #05728f none repeat scroll 0 0;
          color: rgb(104, 237, 255);
          cursor: pointer;
          font-size: 17px;
          height: 33px;
          position: absolute;
          right: 0;
          top: 11px;
          width: 33px;
        }
        .msg_history { 
          background: url("{% static 'chatroom/favicon.ico' %}") 50% 50% no-repeat;
          height: 60%;
          overflow-y: auto;
        }

        button{
          float: left;
          margin: 0;
        }

        
        
        body {
          background: #9ddcfa;
          color: #333333;
        }

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-top: 60px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
#menu {
    padding: 0;
    margin: 0;
    border: 0; 
}
 
#menu ul, li {
    list-style: none;
    margin: 0;
    padding: 0; 
}
 
#menu ul {
    position: relative;
    z-index: 597;
    float: left; 
}
 
#menu ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle; 
}
 
#menu ul li.hover,
#menu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default; 
}
 
#menu ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%; 
}
 
#menu ul ul li {
    float:inherit; 
}
 
#menu ul li:hover > ul {
    visibility: visible; 
}
 
#menu ul ul {
    top: 0;
    nav-down: 100%; 
}
 
#menu ul li {
    float:left; 
}
 
#menu {
    width: 255px; 
}
 
#menu span, #menu a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none; 
}
 
#menu:after, #menu ul:after {
    content: '';
    clear: both; 
    margin
}
 
#menu ul, #menu li {
    width: 100%; 
}
#menu li {
    background: #dddddd;
}
#menu li:hover {
    background: #f6f6f6; 
}
#menu a {
    color: #666666;
    line-height: 160%;
    padding: 11px 28px 11px 28px;
    width: 253px; 
}
#menu ul ul li {
    background: #f6f6f6; 
}
#menu ul ul li:hover {
    background: #dddddd; 
}
#menu ul ul li:hover a {
    color: #666666; 
}
#menu ul ul li ul li {
    background: #dddddd; 
}
#menu ul ul li ul li:hover {
    background: #b7b7b7; 
}
#menu .has-sub {
    position:initial; 
}
 
#menu .has-sub:after, #menu .has-sub > ul > .has-sub:hover:after {
    content: '';
    display: block;
    width: 10px;
    height: 9px;
    position: absolute;
    bottom: 5px;
    top: 50%;
    margin-top: -5px;
}
 
#menu .fa-angle-rightright {
    float: right;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #3e6f7c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #3e6f7c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

</style>

<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <title>Socio App</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'chatroom/favicon.ico' %}"/>
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      {% if user.is_authenticated %}
        <a class="notify bell" data-status="close" href="{% url 'chatroom-notification' %}">
            <div class="notification-bell" id ="notification-bell">
              <!-- <img src="{% static 'chatroom/notification_bell.png' %}" heigh="40px" width="40px"></img> -->
            </div>
                <div class="count" id="count" data-count="{{notification_count}}">
                    <strong>{{notification_count}}</strong>
                </div>
        </a>
      {% endif %}
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'home' %}">SOCIO APP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
          </div>
          <!-- Navbar Right Side -->
          <input id="ref-button" class="btn btn-info" type="button" value="Reload" onClick="document.location.reload(true)">
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'chatroom-home' %}">Chat Room</a>
            <a class="nav-item nav-link" href="{% url 'otherapps-home' %}">Other App's Projects</a>
            <a class="nav-item nav-link" href="{% url 'profile' %}">{{ user }}'s Profile</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    {% block content %}
    <h3 class=" text-center">User {% if user != object.first %} {{ user }} Talking To {{ object.first }}{% else %} {{
      user }} Talking To {{ object.second }}{% endif %}</h3>
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              {% if  not object.branch %}
                <h4>{% if object.private == 'public' %} Public {% else %} Private {% endif %} Room </h4>
              {% else %}
                <h4>Branch{% if object.private == 'public' %} Public {% else %} Private {% endif %} Room </h4>
              {% endif %}
            </div>
          </div>
          <div class="inbox_chat">
            {% for member in usuarios %}
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img" class="rounded-circle article-img"> <img src="{{ member.profile.image.url }}">
                </div>
                <div class="chat_ib">
                  {% if member == object.author %}
                    {% if member == user %}
                    <h6>{{ member }} <small> RoomAdmin;CurrentUser </small></h6>
                    {% else %}
                    <h5>{{ member }} <small> RoomAdmin </small></h5>
                    {% endif %}
                  {% else %}
                    {% if member == user %}
                    <h6>{{ member }} <small>&nbsp;CurrentUser</small></h6>
                    {% else %}
                    <h5>{{ member }} </h5>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history" id='messageBody'>
            {% for chat in object.chatroommessage_set.all %}
              {% if chat.user == user %}
                {% if chat.external %}
                {% else %}
                  <div class="outgoing_msg">
                    <div class="sent_msg" id='chat-items-sent-now'>
                      <input type="hidden" id='theUsername' value='{{ chat.username }}' />
                      <input type="hidden" id='userId' value='{{ user.id }}' />
                      <input type="hidden" id='myUsername' value='{{ user.username }}' />
                      {% if chat.bot %}
                        <p id="metalkbot">{{ chat.message }} </p>
                        <span class="time_date"><small> on {{chat.timestamp}}</small> Talking with SOCIO</span>
                      {% else %}
                        <p>{{ chat.message }} </p>
                        <span class="time_date"><small> on {{chat.timestamp}}</small></span>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              {% else %}
                {% if chat.external %}
                {% else %}
                  <div class="incoming_msg">
                    <div class="received_msg">
                      <div class="received_withd_msg"> 
                          {% if chat.bot %}
                            <p id="youtalkbot"> <span class="author"> {{ chat.user }} </span> {{ chat.message }} </p>
                            <span class="time_date"> <small> on {{chat.timestamp}}</small> Talking with SOCIO</span>
                          {% else %}
                            <p> <span class="author"> {{ chat.user }} </span> {{ chat.message }} </p>
                            <span class="time_date"><small> on {{chat.timestamp}}</small></span>
                          {% endif %}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endif %}
              {% if chat.external %}
              <div class="incoming_msg">
                  <div class="received_msg">
                    <div class="received_withd_msg">
                        <p id="externaltalkbot"> <span class="author"> {{ chat.message }} </span> </p>
                        <span class="time_date"> <small> on {{chat.timestamp}}</small> Talking with SOCIO</span>
                    </div>
                  </div>
              </div>
              {% endif %}
              <!-- <p><img src="{{ chat.image }}"></p> -->
            {% endfor %}
            <div id='msg_container'>
            </div>
              <img id="img" width="75%" height="75%" style="display: none;">
              <button id="img-btn" class="btn btn-danger btn-sm" style="display: none;">Close Image</button>
              <img id="img-error" src="{% static 'chatroom/error.png' %}" heigh="50%" width="50%" style="display: none;">
          </div>

          <!-- Material unchecked -->
          <div id="chat-actions" class="btn-group" role="group">
            <label class="btn btn-secondary btn-sm">
              <input type="radio" name="options" autocomplete="off" checked> Standard Chat
            </label>
            <label class="btn btn-secondary btn-sm">
              <input type="radio" name="options" id="talkbot" autocomplete="off"> Talk with SOCIO bot
            </label>    
            <label class="btn btn-secondary btn-sm">
                <a class="btn btn-secondary btn-sm" id="UndoMessage" title="" href="javascript:void(0)"> Undo Action</a>
            </label>
            <label class="btn btn-secondary btn-sm">
                <a class="btn btn-secondary btn-sm" id="RedoMessage" title="" href="javascript:void(0)"> Redo Action</a>
            </label>     
                       
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <form id='form' method='POST'> {% csrf_token %}       
                <input type="hidden" id='myUsername' value='{{ user.username }}' />
                <input type="hidden" id='roomAuthor' value='{{ object.author }}' />
                <input type="hidden" id='originalAuthor' value='{{ object.original_author }}' />
                <input type="hidden" id='roomName' value='{{ object.name }}' />
                <input type="hidden" id='roomPriv' value='{{ object.private }}' />
                <input type="hidden" id='roomChannel' value='{{ object.channel }}' />
                <input type="hidden" id='members' value='{{ object.member_set.all }}' />
                {{ form.as_p }}
                <input type='submit' class='btn btn-primary' id="btn-chat" />
              </form>
              <!-- <input type="text" class="write_msg" placeholder="Type a message" />
                              <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button> -->
            </div>
          </div>
        </div>
        <div class="inbox_actions">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4> Actions </h4>
            </div>
          </div>
          <div class="inbox_chat">
            <div id="menu">
              <ul>
                <li class="has-sub"><a title="" href="#">Configuration</a>
                  <ul>
                    <li><a title=""><b>Configuration</b></a></li>
                    <li><a id="ValidateProject" title="" href="javascript:void(0)">Validate</a></li>
                    <li><a id="" title="" href="javascript:void(0)" onclick="openFormAddUser()">Add User</a></li>
                    <li><a id="" title="" href="javascript:void(0)" onclick="openFormRemoveUser()">Remove User</a></li>
                    <li><a id="" title="" href="javascript:void(0)" onclick="openFormUpdateUser()">Update User</a></li>
                    {% if not object.branch %}
                      <li><a id="NewBranch" title="" href="javascript:void(0)">New Branch</a></li>
                    {% else %}
                      <li><a id="BranchGroup" title="" href="javascript:void(0)">Branch Group</a></li>
                    {% endif %}
                  </ul>
                </li>
                <li class="has-sub"><a title="" href="#">Info</a>
                  <ul>
                    <li><a title=""><b>Info</b></a></li>
                    <li><a id="AllProjectsPopUp" title="" href="javascript:void(0)">All Projects</a>                      
                    <li><a id="" title="" href="javascript:void(0)" onclick="openFormProjectUser()">User Projects</a>
                    <li><a id="" title="" href="javascript:void(0)" onclick="openFormWriteProjectUser()">Writable Projects</a>
                    <li><a id="" title="" href="javascript:void(0)" onclick="openFormReadProjectUser()">Readable Projects</a>
                    <li><a id="" title="" href="javascript:void(0)" onclick="openFormProjectsVisibility()">Projects Visibility</a>
                    <li><a id="ProjectInfo" title="" href="javascript:void(0)">Project Info</a>
                  </ul>
                </li>
                <li class="has-sub"><a title="" href="#">Statistics</a>
                  <ul>
                    <li><a title=""><b>Statistics</b></a></li>
                    <li><a id="AllStatistics" title="" href="javascript:void(0)">All</a>
                    <li><a id="" title="" href="javascript:void(0)" onclick="openFormPerUserStatistics()">Per User</a>
                    <li><a id="" title="" href="javascript:void(0)" onclick="openFormMessagesStatistics()">Messages Per User</a>
                    <li><a id="Authorship" title="" href="javascript:void(0)">Authorship</a>
                  </ul>
                </li>
                <li class="has-sub"><a title="" href="#">Record</a>
                  <ul>
                    <li><a title=""><b>Record</b></a></li>
                    <li><a id="" title="" href="javascript:void(0)" onclick="openFormModelingActions()">Modeling Actions</a>
                    <li><a id="ProjectManagement" title="" href="javascript:void(0)">Project Management</a>
                  </ul>
                </li>
                <li class="has-sub"><a id="ObtainModel" title="" href="javascript:void(0)">Obtain Model</a>
                </li>
                <li class="has-sub"><a id="HelpPopUp" title="" href="javascript:void(0)">Help</a>
                </li>
                <li class="has-sub"><a id="GetImage" title="" href="javascript:void(0)">Get Image</a>
                </li>
                <li class="has-sub"><a title="" href="#">Polls</a>
                  <ul>
                    <li><a title=""><b>Polls</b></a></li>
                    <li><a title="" href="">Set Choice</a>
                    <li><a title="" href="">Consensus</a>
                    <li><a title="" href="">Start Poll</a>
                    <li><a title="" href="">Get Poll</a>
                    <li><a title="" href="">Add Poll</a>
                    <li><a title="" href="">Get End Poll</a>
                  </ul>
                </li>
                {% if not object.branch %}
                  <li class="has-sub"><a title="" href="#">Project Branches</a>
                    <ul>
                        <li><a title=""><b>Project Branches</b></a></li>
                        {% for room in rooms %}
                          {% if room.branch and room.project == object.name%}
                              <li><a title="" href="/chatroom/{{object.name}}/{{object.private}}/{{object.channel}}/{{object.original_author}}/{{room.name}}" > {{room.name}} </a>
                          {% endif %}
                        {% endfor %}
                    </ul>
                  </li> 
                {% else %}
                  <li class="has-sub"><a title="" href="/chatroom/{{object.project}}/{{object.private}}/{{object.channel}}/{{object.original_author}}/room"> Go to Father Project <b>{{ object.project }}</b></a>
                  </li>
                {% endif %}
              </ul>
              </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <div class="form-popup" id="myFormAddUser">
      <form name="myFormAddUser" class="form-container">
        <h5>Add User</h5>

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="add_user_username" required>

        <label for="channel-form-adduser"><b>Select Channel:</b></label>
        <br><input type="radio" name="channel-form-adduser" value="Socio-App" checked> Socio-App<br>
        <input type="radio" name="channel-form-adduser" value="telegram"> Telegram<br>
        <input type="radio" name="channel-form-adduser" value="twitter"> Twitter<br>          
        <input type="radio" name="channel-form-adduser" value="skype"> Skype<br>
        <input type="radio" name="channel-form-adduser" value="slack"> Slack<br>

        <label for="acces-adduser"><b>Select Access Level:</b></label>
        <br><input type="radio" name="access-adduser" value="Edit" checked> Edit
        <input type="radio" name="access-adduser" value="Read"> Read<br>

        <a id="AddUser" href="javascript:void(0)" class="btn">Add User</a>
        <button type="button" class="btn cancel" onclick="closeFormAddUser()">Close</button>
      </form>
    </div>

    <div class="form-popup" id="myFormRemoveUser">
      <form name="myFormRemoveUser" class="form-container">
        <h5>Remove User</h5>

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="remove_user_username" required>

        <label for="channel-form-removeuser"><b>Select Channel:</b></label>
        <br><input type="radio" name="channel-form-removeuser" value="Socio-App" checked> Socio-App<br>
        <input type="radio" name="channel-form-removeuser" value="telegram"> Telegram<br>
        <input type="radio" name="channel-form-removeuser" value="twitter"> Twitter<br>          
        <input type="radio" name="channel-form-removeuser" value="skype"> Skype<br>
        <input type="radio" name="channel-form-removeuser" value="slack"> Slack<br>

        <a id="RemoveUser" href="javascript:void(0)" class="btn">Remove User</a>
        <button type="button" class="btn cancel" onclick="closeFormRemoveUser()">Close</button>
      </form>
    </div>
    
    <div class="form-popup" id="myFormUpdateUser">
        <form name="myFormUpdateUser" class="form-container">
          <h5>Update User</h5>
  
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" id="update_user_username" required>
  
          <label for="channel-form-updateuser"><b>Select Channel:</b></label>
          <br><input type="radio" name="channel-form-updateuser" value="Socio-App" checked> Socio-App<br>
          <input type="radio" name="channel-form-updateuser" value="telegram"> Telegram<br>
          <input type="radio" name="channel-form-updateuser" value="twitter"> Twitter<br>          
          <input type="radio" name="channel-form-updateuser" value="skype"> Skype<br>
          <input type="radio" name="channel-form-updateuser" value="slack"> Slack<br>
  
          <a id="UpdateUser" href="javascript:void(0)" class="btn">Update User</a>
          <button type="button" class="btn cancel" onclick="closeFormUpdateUser()">Close</button>
        </form>
      </div>

    <div class="form-popup" id="myFormUserProjects">
      <form name="myFormUserProjects" class="form-container">
        <h5>User's Projects</h5>

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="project_user_username" required>

        <label for="channel-form-projects"><b>Select Channel:</b></label>
        <br><input type="radio" name="channel-form-projects" value="Socio-App" checked> Socio-App<br>
        <input type="radio" name="channel-form-projects" value="telegram"> Telegram<br>
        <input type="radio" name="channel-form-projects" value="twitter"> Twitter<br>          
        <input type="radio" name="channel-form-projects" value="skype"> Skype<br>
        <input type="radio" name="channel-form-projects" value="slack"> Slack<br>

        <a id="UserProjectsPopUp" href="javascript:void(0)" class="btn">View</a>
        <button type="button" class="btn cancel" onclick="closeFormProjectUser()">Close</button>
      </form>
    </div>

    <div class="form-popup" id="myFormUserWriteProjects">
        <form name="myFormUserWriteProjects" class="form-container">
          <h5>User's Writeable Projects </h5>
  
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" id="write_user_username" required>
  
          <label for="channel-form-write"><b>Select Channel:</b></label>
          <br><input type="radio" name="channel-form-write" value="Socio-App" checked> Socio-App<br>
          <input type="radio" name="channel-form-write" value="telegram"> Telegram<br>
          <input type="radio" name="channel-form-write" value="twitter"> Twitter<br>          
          <input type="radio" name="channel-form-write" value="skype"> Skype<br>
          <input type="radio" name="channel-form-write" value="slack"> Slack<br>
  
          <a id="UserWriteProjectsPopUp" href="javascript:void(0)" class="btn">View</a>
          <button type="button" class="btn cancel" onclick="closeFormWriteProjectUser()">Close</button>
        </form>
      </div>

      <div class="form-popup" id="myFormUserReadProjects">
        <form name="myFormUserReadProjects" class="form-container">
          <h5>User's Readable Projects </h5>
  
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" id="read_user_username" required>
  
          <label for="channel-form-read"><b>Select Channel:</b></label>
          <br><input type="radio" name="channel-form-read" value="Socio-App" checked> Socio-App<br>
          <input type="radio" name="channel-form-read" value="telegram"> Telegram<br>
          <input type="radio" name="channel-form-read" value="twitter"> Twitter<br>          
          <input type="radio" name="channel-form-read" value="skype"> Skype<br>
          <input type="radio" name="channel-form-read" value="slack"> Slack<br>
  
          <a id="UserReadProjectsPopUp" href="javascript:void(0)" class="btn">View</a>
          <button type="button" class="btn cancel" onclick="closeFormReadProjectUser()">Close</button>
        </form>
      </div>

        
      <div class="form-popup" id="myFormProjectsVisibility">
          <form name="myFormProjectsVisibility" class="form-container">
            <h5> Projects Visibility </h5>
            
            <label for="visibility"><b>Select Visibility:</b></label>
            <br><input type="radio" name="visibility" value="public" checked> Public
            <input type="radio" name="visibility" value="private"> Private<br>
    
            <a id="ProjectsVisibility" href="javascript:void(0)" class="btn">View</a>
            <button type="button" class="btn cancel" onclick="closeFormProjectsVisibility()">Close</button>
          </form>
      </div>

      <div class="form-popup" id="myFormPerUserStatistics">
        <form name="myFormPerUserStatistics" class="form-container">
          <h5>Per User Statistics </h5>
  
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" id="per_user_username" required>
  
          <label for="absolute-peruser"><b>Absolute Graphic?</b></label>
          <br><input type="radio" name="absolute-peruser" value="true" checked> Yes<br>
          <input type="radio" name="absolute-peruser" value="false"> No<br>
  
          <a id="PerUserStatistics" href="javascript:void(0)" class="btn">View</a>
          <button type="button" class="btn cancel" onclick="closeFormPerUserStatistics()">Close</button>
        </form>
      </div>

        
      <div class="form-popup" id="myFormMessagesStatistics">
        <form name="myFormMessagesStatistics" class="form-container">
          <h5>Messages Statistics </h5>
  
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" id="messages_username" required>
  
          <label for="absolute-peruser"><b>Absolute Graphic?</b></label>
          <br><input type="radio" name="absolute-messages" value="true" checked> Yes<br>
          <input type="radio" name="absolute-messages" value="false"> No<br>
  
          <a id="MessagesStatistics" href="javascript:void(0)" class="btn">View</a>
          <button type="button" class="btn cancel" onclick="closeFormMessagesStatistics()">Close</button>
        </form>
      </div>

      
      <div class="form-popup" id="myFormModelingActions">
        <form name="myFormModelingActions" class="form-container">
          <h5>Modeling Actions</h5>
  
          <label for="modeling-username"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="modeling-username" id="modeling-username">
          
          <label for="modeling-startdate"><b>Start Date</b></label>
          <input type="date" name="modeling-startdate" id="modeling-startdate"><br>

          <label for="modeling-enddate"><b>End Date</b></label>
          <input type="date" name="modeling-enddate" id="modeling-enddate"><br>

          <label for="modeling-action"><b>Action</b></label>
          <br><input type="radio" name="modeling-action" value="Create"> Create
          <input type="radio" name="modeling-action" value="Delete"> Delete
          <input type="radio" name="modeling-action" value="Update"> Update<br>

          <label for="modeling-element"><b>Element</b></label>
          <input type="text" placeholder="Enter Element" name="modeling-element" id="modeling-element">
  
          <a id="ModelingActions" href="javascript:void(0)" class="btn">View</a>
          <button type="button" class="btn cancel" onclick="closeFormModelingActions()">Close</button>
        </form>
      </div>

<script>
  function openFormAddUser() {
    document.getElementById("myFormAddUser").style.display = "block";
  }

  function closeFormAddUser() {
    document.getElementById("myFormAddUser").style.display = "none";
  }

  function openFormRemoveUser() {
    document.getElementById("myFormRemoveUser").style.display = "block";
  }

  function closeFormRemoveUser() {
    document.getElementById("myFormRemoveUser").style.display = "none";
  }

  function openFormUpdateUser() {
    document.getElementById("myFormUpdateUser").style.display = "block";
  }

  function closeFormUpdateUser() {
    document.getElementById("myFormUpdateUser").style.display = "none";
  }

  function openFormProjectUser() {
    document.getElementById("myFormUserProjects").style.display = "block";
  }

  function closeFormProjectUser() {
    document.getElementById("myFormUserProjects").style.display = "none";
  }

  function openFormWriteProjectUser() {
    document.getElementById("myFormUserWriteProjects").style.display = "block";
  }

  function closeFormWriteProjectUser() {
    document.getElementById("myFormUserWriteProjects").style.display = "none";
  }

  function openFormReadProjectUser() {
    document.getElementById("myFormUserReadProjects").style.display = "block";
  }

  function closeFormReadProjectUser() {
    document.getElementById("myFormUserReadProjects").style.display = "none";
  }
  
  function openFormProjectsVisibility() {
    document.getElementById("myFormProjectsVisibility").style.display = "block";
  }

  function closeFormProjectsVisibility() {
    document.getElementById("myFormProjectsVisibility").style.display = "none";
  }

  function openFormPerUserStatistics() {
    document.getElementById("myFormPerUserStatistics").style.display = "block";
  }

  function closeFormPerUserStatistics() {
    document.getElementById("myFormPerUserStatistics").style.display = "none";
  }
  
  function openFormMessagesStatistics() {
    document.getElementById("myFormMessagesStatistics").style.display = "block";
  }

  function closeFormMessagesStatistics() {
    document.getElementById("myFormMessagesStatistics").style.display = "none";
  }
  
  function openFormModelingActions() {
    document.getElementById("myFormModelingActions").style.display = "block";
  }

  function closeFormModelingActions() {
    document.getElementById("myFormModelingActions").style.display = "none";
  }

  $("#img-btn").click(function() {      
      document.getElementById("img").style.display = "none";
      document.getElementById("img-btn").style.display = "none";
  });

</script>
    {% endblock %}
    
    </div>

  {% block script %}
  <script>
    window.setInterval(function(){
      console.log("EJECUTANDO HILO")
      var me = $("#myUsername").val();
      var roomName = $("#roomName").val();
      var channel = $("#roomChannel").val();
      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/updates/getupdates/Socio-App";
      //var url = "http://dimo1.ii.uam.es:8080/Socio-rest/updates/getupdate/" + channel + "/" + channel + "/" + me + "/" + roomName;
      var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      xmlhttp.onreadystatechange = function(){
        if(xmlhttp.readyState == 4) {
            if(xmlhttp.status == 200) {
              var data = xmlhttp.response;
              console.log(data);
              for (var i = 0; i < data.projectList.length; i++) { 
                if(data.projectList[i].name == roomName){
                  checkMessages();
                }
              }

            } else if(xmlhttp.responseText != "") {
                alertify.error(xmlhttp.responseText); 
            }
        } else if(xmlhttp.readyState == 2) {
            if(xmlhttp.status == 200) {
                xmlhttp.responseType = "json";
            } else {
                xmlhttp.responseType = "text";
            }
        }
      }
      xmlhttp.open("GET", url);
      xmlhttp.send();
    }, 10000);

    function checkMessages(){
      var me = $("#myUsername").val();
      var roomName = $("#roomName").val();
      var channel = $("#roomChannel").val();
      var original_author = $("#originalAuthor").val();    
      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/updates/getupdate/Socio-App" + "/" + channel + "/" + original_author + "/" + roomName;
      var xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function(){
        if(xmlhttp.readyState == 4) {
            if(xmlhttp.status == 200) {
              var data = xmlhttp.response;
              console.log(data);
              for (var i = 0; i < data.msgList.length; i++) { 
                if(data.msgList[i].user.channel != "Socio-App"){
                  // Notificar cambio externo en proyecto
                  var msg = data.msgList[i].user.channel + "'s User " + data.msgList[i].user.nick + " wrote: " + data.msgList[i].msg;
                  var finalData = {
                      'message': msg,
                      'bot': true,
                      'external': true
                  }                       
                  socket.send(JSON.stringify(finalData));
                  document.location.reload(true);
                }
              }
            } else if(xmlhttp.responseText != "") {
                alertify.error(xmlhttp.responseText); 
            }
        } else if(xmlhttp.readyState == 2) {
            if(xmlhttp.status == 200) {
                xmlhttp.responseType = "json";
            } else {
                xmlhttp.responseType = "text";
            }
        }
      }
      xmlhttp.open("GET", url);
      xmlhttp.send();
    }

  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
  <script>
    var messageBody = document.querySelector('#messageBody');
    messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
    // websocket scripts
    // console.log(window.location)
    var myJSONList = (("{{users}}").replace(/&(l|g|quo)t;/g, function(a,b){
                return {
                    l   : '<',
                    g   : '>',
                    quo : '"'
                }[b];
            }));
    myData = JSON.parse( myJSONList );
    var privacity = $("#roomPriv").val();
    var loc = window.location
    var formData = $("#form")
    var formAddData = $("#add_user")
    var usrInput = $("#user_name")
    var roomName = $("#roomName").val();
    var author = $("#roomAuthor").val();
    var original_author = $("#originalAuthor").val();    
    var channel = $("#roomChannel").val();
    var msgInput = $("#id_message")
    var msgRaw = $("#msg_container")
    var chatHolderSent = $("#chat-items-sent-now")
    var checkBox = document.getElementById("talkbot");
    var me = $("#myUsername").val();
    var user_id = $("#userId").val();
    var wsStart = 'ws://';
    var time = Date.now();
    var members = $("#members").val();
    var userAddId = 0;
    if (loc.protocol == 'https:') {
      wsStart = 'wss://';
    }
    var endpoint = wsStart + loc.host + loc.pathname;
    var socket = new ReconnectingWebSocket(endpoint);
    var user = {
                nick: $("#myUsername").val(),
                name: $("#myUsername").val(),
                channel: channel,
                id: user_id
            };

    socket.onmessage = function (e) {
      console.log("message", e)
      var chatDataMsg = JSON.parse(e.data)
      var msg_to_send = {
        user: user,
        msg: chatDataMsg.message,
        text: chatDataMsg.message,
        date: time,
        id: user_id
      }; 
      //Hablar con SOCIO
      if (chatDataMsg.bot){
        console.log(user_id);
        if (me != chatDataMsg.username) {
          msgRaw.append("<div class=" + '"' + "incoming_msg" + '"' + "><div class=" + '"' + "received_msg" + '"' + "><div class=" + '"' + "received_withd_msg" + '"' + "><p id=" + '"youtalkbot"' + "> <span class=" + '"' + "author" + '"' + ">" + chatDataMsg.username + "</span>" + chatDataMsg.message + "</p> <span class=" + '"' + "time_date" + '"' + "><small> rigth now </small> Talking with SOCIO </span></div></div>")
          messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
        }   /* <div class="received_withd_msg"> */
        else if (me == chatDataMsg.username) {
          msgRaw.append("<div class=" + '"' + "outgoing_msg" + '"' + "><div class=" + '"' + "sent_msg" + '"' + "><p id =" + '"metalkbot"' + ">" + chatDataMsg.message + "</p> <span class=" + '"' + "time_date" + '"' + "> by you <small> rigth now </small> Talking with SOCIO </span></div></div>")
          messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
        }
        var url = "http://dimo1.ii.uam.es:8080/Socio-rest/editor/do/" + channel + "/" + original_author + "/" + roomName;
        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
        xmlhttp.onreadystatechange = function(){
          if(xmlhttp.readyState == 4) {
              if(xmlhttp.status == 200) {
                var img = document.getElementById("img"); 
                var url = window.URL || window.webkitURL;
                img.src = url.createObjectURL(this.response);
                document.getElementById("img").style.display = "block";
                document.getElementById("img-btn").style.display = "block";
                messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
              } else if(xmlhttp.responseText != "") {
                  alertify.error(xmlhttp.responseText);
              }
          } else if(xmlhttp.readyState == 2) {
              if(xmlhttp.status == 200) {
                  xmlhttp.responseType = "blob";
              } else {
                  xmlhttp.responseType = "text";
              }
          }
        }
        xmlhttp.open("POST", url);
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify(msg_to_send));
      }
      else { //Mensaje simple
        document.getElementById("img").style.display = "none";
        if (me != chatDataMsg.username) {
          msgRaw.append("<div class=" + '"' + "incoming_msg" + '"' + "><div class=" + '"' + "received_msg" + '"' + "><div class=" + '"' + "received_withd_msg" + '"' + "><p> <span class=" + '"' + "author" + '"' + ">" + chatDataMsg.username + "</span>" + chatDataMsg.message + "</p> <span class=" + '"' + "time_date" + '"' + "><small> rigth now </small></span></div></div>")
          messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
        }   /* <div class="received_withd_msg"> */
        else if (me == chatDataMsg.username) {
          msgRaw.append("<div class=" + '"' + "outgoing_msg" + '"' + "><div class=" + '"' + "sent_msg" + '"' + "><p>" + chatDataMsg.message + "</p> <span class=" + '"' + "time_date" + '"' + "> by you <small> rigth now </small></span></div></div>")
          messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
        }
      }
    }

    socket.onopen = function (e) {
      formData.submit(function (event) {
        event.preventDefault()
        var msgText = msgInput.val()
        if (checkBox.checked == true){
          var finalData = {
            'message': msgText,
            'bot': true,
            'external': false
          }
        }
        else{
          var finalData = {
            'message': msgText,
            'bot': false,
            'external': false
          }
        }          
        socket.send(JSON.stringify(finalData))
        formData[0].reset()
      })



    }
    socket.onerror = function (e) {
      console.log("error", e)
    }
    socket.onclose = function (e) {
      console.log("close", e)
    }


    $("#UndoMessage").click(function() {
      var msg_to_send = {
        user: user,
        msg: 'undo',
        text: 'undo',
        date: time,
        id: user_id
      }; 
      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/editor/undo/" + channel + "/" + original_author + "/" + roomName;
      var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      xmlhttp.onreadystatechange = function(){
        if(xmlhttp.readyState == 4) {
            if(xmlhttp.status == 200) {
              var img = document.getElementById("img"); 
              var url = window.URL || window.webkitURL;
              img.src = url.createObjectURL(this.response);
              document.getElementById("img").style.display = "block";
              document.getElementById("img-btn").style.display = "block";
              messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
            } else if(xmlhttp.responseText != "") {
                alertify.error(xmlhttp.responseText);
            }
        } else if(xmlhttp.readyState == 2) {
            if(xmlhttp.status == 200) {
                xmlhttp.responseType = "blob";
            } else {
                xmlhttp.responseType = "text";
            }
        }
      }
      xmlhttp.open("POST", url);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.send(JSON.stringify(msg_to_send));
    });

    $("#RedoMessage").click(function() {
      var msg_to_send = {
        user: user,
        msg: 'redo',
        text: 'redo',
        date: time,
        id: user_id
      }; 
      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/editor/redo/" + channel + "/" + original_author + "/" + roomName;
      var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      xmlhttp.onreadystatechange = function(){
        if(xmlhttp.readyState == 4) {
            if(xmlhttp.status == 200) {
              var img = document.getElementById("img"); 
              var url = window.URL || window.webkitURL;
              img.src = url.createObjectURL(this.response);
              document.getElementById("img").style.display = "block";
              document.getElementById("img-btn").style.display = "block";
              messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
            } else if(xmlhttp.responseText != "") {
                alertify.error(xmlhttp.responseText);
            }
        } else if(xmlhttp.readyState == 2) {
            if(xmlhttp.status == 200) {
                xmlhttp.responseType = "blob";
            } else {
                xmlhttp.responseType = "text";
            }
        }
      }
      xmlhttp.open("POST", url);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.send(JSON.stringify(msg_to_send));
    });


    $("#HelpPopUp").click(function() {      
      var me = $("#myUsername").val();
      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/help";
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function(){
          if(xhr.readyState == 4) {
              if(xhr.status == 200) {
                alertify.alert(xhr.response.text + xhr.response.url, function(){
                  alertify.message('Help');
                });
              } else if(xhr.responseText != "") {
                  alertify.error(xhr.responseText); 
              }
          } else if(xhr.readyState == 2) {
              if(xhr.status == 200) {
                  xhr.responseType = "json";
              } else {
                  xhr.responseType = "text";
              }
          }
      }
      xhr.open('GET', url);
      xhr.send();
    });

    $("#AllProjectsPopUp").click(function() {    
      $.ajax({
        type: 'GET',
        url: "http://dimo1.ii.uam.es:8080/Socio-rest/projects",
        contentType: 'application/json',
        dataType:'json',
        responseType:'application/json',
        xhrFields: {
          withCredentials: false
        },
        headers: {
          'Access-Control-Allow-Credentials' : true,
          'Access-Control-Allow-Origin':'*',
          'Access-Control-Allow-Methods':'GET',
          'Access-Control-Allow-Headers':'application/json',
        },
        success: function(data) {
          var proys = "<b>All App Projects:</b> <br>" ;
          data.projectList.forEach(function(element) {
                                                    proys += "<b> · Proyect Name: " + element.name + "</b> | Channel: [" + element.admin.channel + "] " + " | Author: [" + element.admin.nick + "]"; 
                                                    proys += "<br>"
                                                  });                                     
          console.log(data);                                        
          alertify.alert(proys, function(){
              alertify.message('Info -> All Projects');
          });
        },
        error: function(error) {
          console.log("error");
          console.log(this.response);
          alertify.alert("An error has ocurred during API call.", function(){
            alertify.message('OK');
          }); 
        }
      });
    });

    var userProjectName = "";
    $("#UserProjectsPopUp").click(function() {    
      var userName = document.querySelector('#project_user_username').value;
      var channelform = document.querySelector('input[name="channel-form-projects"]:checked').value;
      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/projects/" + channelform + "/" + userName;
      var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      xmlhttp.onreadystatechange = function(){
          if (this.readyState == 4 && this.status == 200){
            var data = xmlhttp.response
            var proys = userName + "'s Projects: " ;
            data.projectList.forEach(function(element) {
                                                  proys = proys + element.name + ", "; 
                                              });                                                                                                                               
            alertify.alert(proys, function(){
                alertify.message('Info -> User Projects');
            });
            closeFormProjectUser();
          }
      }
      xmlhttp.open("GET", url);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.responseType = 'json';
      xmlhttp.send(JSON.stringify());
    });

    $("#UserWriteProjectsPopUp").click(function() {    
      var userName = document.querySelector('#write_user_username').value;
      var channelform = document.querySelector('input[name="channel-form-write"]:checked').value;
      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/projects/write/" + channelform + "/" + userName;
      var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      xmlhttp.onreadystatechange = function(){
          if (this.readyState == 4 && this.status == 200){
            var data = xmlhttp.response
            var proys = userName + "'s Writeable Projects: " ;
            data.projectList.forEach(function(element) {
                                                  proys = proys + element.name + ", "; 
                                              });                                                                                                    
            alertify.alert(proys, function(){
                alertify.message('Info -> User Writeable Projects');
            });
            closeFormWriteProjectUser();
          }
      }
      xmlhttp.open("GET", url);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.responseType = 'json';
      xmlhttp.send(JSON.stringify());

    });

    $("#UserReadProjectsPopUp").click(function() {    
      var userName = document.querySelector('#read_user_username').value;
      var channelform = document.querySelector('input[name="channel-form-read"]:checked').value;
      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/projects/read/" + channelform + "/" + userName;
      var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      xmlhttp.onreadystatechange = function(){
          if (this.readyState == 4 && this.status == 200){
            var data = xmlhttp.response
            var proys = userName + "'s Readable Projects: " ;
            data.projectList.forEach(function(element) {
                                                  proys = proys + element.name + ", "; 
                                              });                                              
            console.log(proys);                                                                                          
            alertify.alert(proys, function(){
                alertify.message('Info -> User Readable Projects');
            });
            closeFormReadProjectUser();
          }
      }
      xmlhttp.open("GET", url);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.responseType = 'json';
      xmlhttp.send(JSON.stringify());

    });

    $("#ProjectsVisibility").click(function() {          
      var visibility = document.querySelector('input[name="visibility"]:checked').value;
      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/projects/" + visibility;
      var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      xmlhttp.onreadystatechange = function(){
          if (this.readyState == 4 && this.status == 200){
            var data = xmlhttp.response
            var proys = visibility + " Projects: " ;
            data.projectList.forEach(function(element) {
                                                  proys = proys + element.name + ", "; 
                                              });                                              
            console.log(proys);                                                                                          
            alertify.alert(proys, function(){
                alertify.message('Info -> Projects Visibility');
            });
            closeFormProjectsVisibility();
          }
      }
      xmlhttp.open("GET", url);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.responseType = 'json';
      xmlhttp.send(JSON.stringify());

    });

    $("#ProjectInfo").click(function() {    
      $.ajax({
        type: 'GET',
        url: "http://dimo1.ii.uam.es:8080/Socio-rest/info/" + channel + "/" + original_author + "/" + roomName,
        contentType: 'application/json',
        dataType:'json',
        responseType:'application/json',
        xhrFields: {
          withCredentials: false
        },
        headers: {
          'Access-Control-Allow-Credentials' : true,
          'Access-Control-Allow-Origin':'*',
          'Access-Control-Allow-Methods':'GET',
          'Access-Control-Allow-Headers':'application/json',
        },
        success: function(data) {                                         
          alertify.alert(data, function(){
              alertify.message('Info -> Project Info');
          });
        },
        error: function(error) {
          alertify.alert("An error has ocurred during API call.", function(){
            alertify.message('OK');
          }); 
        }
      });
    });

    $("#ValidateProject").click(function() {    
      $.ajax({
        type: 'POST',
        url: "http://dimo1.ii.uam.es:8080/Socio-rest/configuration/validate/" + channel + "/" + original_author + "/" + roomName ,
        contentType: 'application/json',
        dataType:'text',
        data: JSON.stringify(user),
        xhrFields: {
          withCredentials: false
        },
        headers: {
          'Access-Control-Allow-Credentials' : true,
          'Access-Control-Allow-Origin':'*',
          'Access-Control-Allow-Methods':'POST',
          'Access-Control-Allow-Headers':'application/json',
        },
        success: function(data) {                           
          console.log(data);                                          
          alertify.alert(data, function(){
              alertify.message('Configuration -> Validate Project');
          });
        },
        error: function(error) {
          console.log("error");
          console.log(this.response);
          alertify.alert("An error has ocurred during API call.", function(){
            alertify.message('OK');
          }); 
        }
      });
    });

    $("#GetImage").click(function() {      
      var msg_to_send = {
        user: user,
        msg: "",
        text: "",
        date: time,
        id: user_id
      }; 
        var url = "http://dimo1.ii.uam.es:8080/Socio-rest/editor/do/" + channel + "/" + original_author + "/" + roomName;
        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
        xmlhttp.onreadystatechange = function(){
          if(xmlhttp.readyState == 4) {
              if(xmlhttp.status == 200) {
                var img = document.getElementById("img"); 
                var url = window.URL || window.webkitURL;
                img.src = url.createObjectURL(this.response);
                document.getElementById("img").style.display = "block";
                document.getElementById("img-btn").style.display = "block";
                messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
              } else if(xmlhttp.responseText != "") {
                  alertify.error(xmlhttp.responseText);
              }
          } else if(xmlhttp.readyState == 2) {
              if(xmlhttp.status == 200) {
                  xmlhttp.responseType = "blob";
              } else {
                  xmlhttp.responseType = "text";
              }
          }
        }
        xmlhttp.open("POST", url);
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.send(JSON.stringify(msg_to_send));
      // var url = "http://dimo1.ii.uam.es:8080/Socio-rest/updates/getlastfile/" + channel + "/" + original_author + "/" + roomName;
      // var xhr = new XMLHttpRequest();
      // xhr.onreadystatechange = function(){
      //     if (this.readyState == 4 && this.status == 200){
      //         var img = document.getElementById("img");
      //         var url = window.URL || window.webkitURL;
      //         img.src = url.createObjectURL(this.response);
      //         document.getElementById("img").style.display = "block";
      //         document.getElementById("img-btn").style.display = "block";
      //         messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
      //     }
      // }
      // xhr.open('GET', url);
      // xhr.responseType = 'blob';
      // xhr.send(); 
    });
    
    $("#AddUser").click(function() {    
      var userName = document.querySelector('#add_user_username').value;
      var channelform = document.querySelector('input[name="channel-form-adduser"]:checked').value;
      var access = document.querySelector('input[name="access-adduser"]:checked').value;
      for (i = 0; i < myData.length; i++) { 
        if(myData[i].fields.username === userName){
          userAddId = myData[i].pk;
        }
      }
      var userAccess = {
        nick: userName,
        name: userName,
        channel: channelform,
        id: userAddId
      };
      var postData = {
        user: user,
        userToSearch: userAccess,
        access: access
      };

      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/configuration/addUser/" + channel + "/" + original_author + "/" + roomName;
      var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      xmlhttp.onreadystatechange = function(){
          if (this.readyState == 4 && this.status == 200){
            alertify.alert('Operation Success', 'User added correctly!', function(){ alertify.success('Ok'); });
            closeFormAddUser();
          }
      }
      xmlhttp.open("POST", url);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.responseType = 'json';
      xmlhttp.send(JSON.stringify(postData));

    });

    $("#RemoveUser").click(function() {    
      var userName = document.querySelector('#remove_user_username').value;
      var channelform = document.querySelector('input[name="channel-form-removeuser"]:checked').value;
      for (i = 0; i < myData.length; i++) { 
        if(myData[i].fields.username === userName){
          userAddId = myData[i].pk;
        }
      }
      var userAccess = {
        nick: userName,
        name: userName,
        channel: channelform,
        id: userAddId
      };
      var postData = {
        user: user,
        userToSearch: userAccess
      };

      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/configuration/removeUser/" + channel + "/" + original_author + "/" + roomName;
      var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      xmlhttp.onreadystatechange = function(){
          if (this.readyState == 4 && this.status == 200){
            alertify.alert('Operation Success', 'User removed correctly!', function(){ alertify.success('Ok'); });
            closeFormRemoveUser();
          }
      }
      xmlhttp.open("POST", url);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.responseType = 'json';
      xmlhttp.send(JSON.stringify(postData));

    });

    $("#UpdateUser").click(function() {    
      var userName = document.querySelector('#update_user_username').value;
      var channelform = document.querySelector('input[name="channel-form-updateuser"]:checked').value;
      for (i = 0; i < myData.length; i++) { 
        if(myData[i].fields.username === userName){
          userAddId = myData[i].pk;
        }
      }
      var userAccess = {
        nick: userName,
        name: userName,
        channel: channelform,
        id: userAddId
      };
      var postData = {
        user: user,
        userToSearch: userAccess
      };

      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/configuration/updateUser/" + channel + "/" + original_author + "/" + roomName;
      var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      xmlhttp.onreadystatechange = function(){
          if (this.readyState == 4 && this.status == 200){
            alertify.alert('Operation Success', 'User updated correctly!', function(){ alertify.success('Ok'); });
            closeFormUpdateUser();
          }
      }
      xmlhttp.open("POST", url);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.responseType = 'json';
      xmlhttp.send(JSON.stringify(postData));

    });

    $("#AllStatistics").click(function() {    
      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/statistics/allactions/" + channel + "/" + original_author + "/" + roomName;
      var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      xmlhttp.onreadystatechange = function(){
          if (this.readyState == 4 && this.status == 200){
              var img = document.getElementById("img");
              var url = window.URL || window.webkitURL;
              img.src = url.createObjectURL(this.response);
              document.getElementById("img").style.display = "block";
              document.getElementById("img-btn").style.display = "block";
              messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
          }
      }
      xmlhttp.open("POST", url);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.responseType = 'blob';
      xmlhttp.send(JSON.stringify(user));
    });

    $("#PerUserStatistics").click(function() {  
      var userName = document.querySelector('#per_user_username').value;
      console.log(userName);
      var absolute = document.querySelector('input[name="absolute-peruser"]:checked').value;
      if(userName === ""){
        var postData = {
          user: user,
          absolute: absolute
        };

        var url = "http://dimo1.ii.uam.es:8080/Socio-rest/statistics/actions/" + channel + "/" + original_author + "/" + roomName;
        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
        xmlhttp.onreadystatechange = function(){
          if (this.readyState == 4 && this.status == 200){
            var img = document.getElementById("img");
            var url = window.URL || window.webkitURL;
            img.src = url.createObjectURL(this.response);
            document.getElementById("img").style.display = "block";
            document.getElementById("img-btn").style.display = "block";
            messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
            closeFormPerUserStatistics();
          }
        }
        xmlhttp.open("POST", url);
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.responseType = 'blob';
        xmlhttp.send(JSON.stringify(postData));
        alertify.success('Showing ' + userName + ' stats');
      }
      else{
        for (i = 0; i < myData.length; i++) { 
          if(myData[i].fields.username === userName){
            userAddId = myData[i].pk;
          }
        }
        var userAccess = {
          nick: userName,
          name: userName,
          channel: channel,
          id: userAddId
        };
        var postData = {
          user: user,
          userToSearch: userAccess,
          absolute: absolute
        };

        var url = "http://dimo1.ii.uam.es:8080/Socio-rest/statistics/actions/" + channel + "/" + original_author + "/" + roomName;
        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
        xmlhttp.onreadystatechange = function(){
            if (this.readyState == 4 && this.status == 200){
              var img = document.getElementById("img");
              var url = window.URL || window.webkitURL;
              img.src = url.createObjectURL(this.response);
              document.getElementById("img").style.display = "block";
              document.getElementById("img-btn").style.display = "block";
              messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
              closeFormPerUserStatistics();
            }
        }
        xmlhttp.open("POST", url);
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.responseType = 'blob';
        xmlhttp.send(JSON.stringify(postData));
        alertify.success('Showing ' + userName + ' stats');
      }
      
    });


    $("#MessagesStatistics").click(function() {  
      var userName = document.querySelector('#messages_username').value;
      console.log(userName);
      var absolute = document.querySelector('input[name="absolute-messages"]:checked').value;
      if(userName === ""){
        var postData = {
          user: user,
          absolute: absolute
        };

        var url = "http://dimo1.ii.uam.es:8080/Socio-rest/statistics/messages/" + channel + "/" + original_author + "/" + roomName;
        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
        xmlhttp.onreadystatechange = function(){
          if (this.readyState == 4 && this.status == 200){
            var img = document.getElementById("img");
            var url = window.URL || window.webkitURL;
            img.src = url.createObjectURL(this.response);
            document.getElementById("img").style.display = "block";
            document.getElementById("img-btn").style.display = "block";
            messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
            closeFormMessagesStatistics();
            
          }
        }
        xmlhttp.open("POST", url);
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.responseType = 'blob';
        xmlhttp.send(JSON.stringify(postData));
        alertify.success('Showing ' + userName + ' messages stats');
      }
      else{
        for (i = 0; i < myData.length; i++) { 
          if(myData[i].fields.username === userName){
            userAddId = myData[i].pk;
          }
        }
        var userAccess = {
          nick: userName,
          name: userName,
          channel: channel,
          id: userAddId
        };
        var postData = {
          user: user,
          userToSearch: userAccess,
          absolute: absolute
        };

        var url = "http://dimo1.ii.uam.es:8080/Socio-rest/statistics/messages/" + channel + "/" + original_author + "/" + roomName;
        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
        xmlhttp.onreadystatechange = function(){
            if (this.readyState == 4 && this.status == 200){
              var img = document.getElementById("img");
              var url = window.URL || window.webkitURL;
              img.src = url.createObjectURL(this.response);
              document.getElementById("img").style.display = "block";
              document.getElementById("img-btn").style.display = "block";
              messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
              closeFormMessagesStatistics();
            }
        }
        xmlhttp.open("POST", url);
        xmlhttp.setRequestHeader("Content-Type", "application/json");
        xmlhttp.responseType = 'blob';
        xmlhttp.send(JSON.stringify(postData));
        alertify.success('Showing ' + userName + ' messages stats');
      }
    });
    
    $("#Authorship").click(function() {    
      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/statistics/authorship/" + channel + "/" + original_author + "/" + roomName;
      var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      xmlhttp.onreadystatechange = function(){
          if (this.readyState == 4 && this.status == 200){
              var img = document.getElementById("img");
              var url = window.URL || window.webkitURL;
              img.src = url.createObjectURL(this.response);
              document.getElementById("img").style.display = "block";
              document.getElementById("img-btn").style.display = "block";
              messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
          }
      }
      xmlhttp.open("POST", url);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.responseType = 'blob';
      xmlhttp.send(JSON.stringify(user));
    });

    $("#ProjectManagement").click(function() {    
      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/history/project/" + channel + "/" + original_author + "/" + roomName;
      var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      xmlhttp.onreadystatechange = function(){
          if (this.readyState == 4 && this.status == 200){
              var img = document.getElementById("img");
              var url = window.URL || window.webkitURL;
              img.src = url.createObjectURL(this.response);
              document.getElementById("img").style.display = "block";
              document.getElementById("img-btn").style.display = "block";
              messageBody.scrollTop = messageBody.scrollHeight - messageBody.clientHeight;
          }
      }
      xmlhttp.open("POST", url);
      xmlhttp.setRequestHeader("Content-Type", "application/json");
      xmlhttp.responseType = 'blob';
      xmlhttp.send(JSON.stringify(user));
    });
    //ESTA REQUEST NO ES DE IMAGEN HAY QUE VER COMO DESCARGAR FORMATO ECORE
    $("#ObtainModel").click(function() {    
      $.ajax({
        url: "http://dimo1.ii.uam.es:8080/Socio-rest/get/" + channel + "/" + original_author + "/" + roomName,
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(user),
        xhrFields: {
            responseType: 'blob'
        },
        success: function (data) {
            console.log(data);
            var a = document.createElement('a');
            var url = window.URL.createObjectURL(data);
            a.href = url;
            a.download = roomName + '.ecore';
            a.click();
            window.URL.revokeObjectURL(url);
        }
      });
      // var url = "http://dimo1.ii.uam.es:8080/Socio-rest/get/" + channel + "/" + original_author + "/" + roomName;
      // var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      // xmlhttp.onreadystatechange = function(){
      //     if (this.readyState == 4 && this.status == 200){
      //     }
      // }
      // xmlhttp.open("POST", url);
      // xmlhttp.setRequestHeader("Content-Type", "application/json");
      // xmlhttp.responseType = 'blob';
      // xmlhttp.send(JSON.stringify(user));
    });

    $("#NewBranch").click(function() {    
      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/configuration/newBranch/" + channel + "/" + original_author + "/" + roomName;
      var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      alertify.prompt( 'New Branch', 'Type the name of the new branch', ''
               , function(evt, value) { 
                      var postData = {
                          user: user,
                          branchName: value
                      };
                      xmlhttp.onreadystatechange = function(){
                        if (this.readyState == 4 && this.status == 200){
                            window.location.pathname = '/chatroom/' + roomName + '/' + privacity + '/' + channel + '/' + original_author + '/'  + value;
                            alertify.success('Branch created with name: ' + value) 
                        }
                      }
                      xmlhttp.open("POST", url);
                      xmlhttp.setRequestHeader("Content-Type", "application/json");
                      xmlhttp.responseType = 'blob';
                      xmlhttp.send(JSON.stringify(postData));                      
                 }
               , function() { 
                      alertify.error('Cancel') 
                });
    });

    $("#BranchGroup").click(function() {    
      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/configuration/branchgroup/" + channel + "/" + original_author + "/" + roomName;
      var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      alertify.prompt( 'Change Branch Group', 'Type the name of the branch group', ''
               , function(evt, value) { 
                      var postData = {
                          user: user,
                          branchGroup: value
                      };
                      xmlhttp.onreadystatechange = function(){
                        if (this.readyState == 4 && this.status == 200){
                            alertify.success('Branch changed to group: ' + value) 
                        }
                      }
                      xmlhttp.open("POST", url);
                      xmlhttp.setRequestHeader("Content-Type", "application/json");
                      xmlhttp.responseType = 'blob';
                      xmlhttp.send(JSON.stringify(postData));                      
                 }
               , function() { 
                      alertify.error('Cancel') 
                });
    });

    $("#ModelingActions").click(function() {    
      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/history/" + channel + "/" + original_author + "/" + roomName;
      var userName = document.querySelector('#modeling-username').value;
      var element = document.querySelector('#modeling-element').value;
      var action = document.querySelector('input[name="modeling-action"]:checked');
      var startDate = document.querySelector('#modeling-startdate').value;
      var endDate = document.querySelector('#modeling-enddate').value;
      console.log("Nombre" + userName);
      console.log("Elemento" + element);
      console.log("Accion" + action);
      console.log("Start Date" + startDate);
      console.log("End Date" + endDate);
      // var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      // xmlhttp.onreadystatechange = function(){
      //     if (this.readyState == 4 && this.status == 200){
              
      //     }
      // }
      // xmlhttp.open("POST", url);
      // xmlhttp.setRequestHeader("Content-Type", "application/json");
      // xmlhttp.responseType = 'json';
      // xmlhttp.send(JSON.stringify(user));
    });

  </script>


<script type="text/javascript">
  window.onload = function(){
      console.log("EJECUTANDO HILO");
      var url = "http://dimo1.ii.uam.es:8080/Socio-rest/updates/getupdates/Socio-App";
      var notifBell = $("notification-bell")
      var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
      var elem = document.createElement("img");
      STATIC_URL = "https://i.ibb.co/PTkR9zw/notification-bell.png"
      xmlhttp.onreadystatechange = function(){
        if(xmlhttp.readyState == 4) {
            if(xmlhttp.status == 200) {
              var data = xmlhttp.response;
              if(data.projectList.length > 0){
                console.log("NOTIFICACION!!");
                elem.src = 'https://i.ibb.co/wh1DgZ4/notification-bell-active.png';
                elem.style.height = '40px';
                document.getElementById("notification-bell").appendChild(elem);
              }     
              else{
                console.log("NO NOTIFICACION!!");
                elem.src = 'https://i.ibb.co/PTkR9zw/notification-bell.png';
                elem.style.height = '40px';
                document.getElementById("notification-bell").appendChild(elem);
              }                     
            } 
        } else if(xmlhttp.readyState == 2) {
            if(xmlhttp.status == 200) {
                xmlhttp.responseType = "json";
            } else {
                xmlhttp.responseType = "text";
            }
        }
      }
      xmlhttp.open("GET", url);
      xmlhttp.send();
    };
 </script>
{% endblock %}