{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section-form">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Actual Room Privacity: {{ object.private }}</legend>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" id="update_room">Change Privacity</button>
            </div>
        </form>
        <input type="hidden" id='myUsername' value='{{ user.username }}' />
        <input type="hidden" id='userId' value='{{ user.id }}' />
        <input type="hidden" id='roomName' value='{{ object.name }}' />
        <input type="hidden" id='roomPriv' value='{{ object.private }}' />        
    </div>

    {% block script %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script type="text/javascript">

        $(function() {
            $("#update_room").click(function(e) {
                console.log("HOLAAAAAAAAA");
                var roomName = $("#roomName").val();
                var roomPriv = $("#roomPriv").val();
                var me = $("#myUsername").val();
                var user_id = $("#userId").val();

                var user = {
                    nick: $("#myUsername").val(),
                    name: $("#myUsername").val(),
                    channel: "Socio-App",
                    id: user_id
                };
                $.ajax({
                    type: 'POST',
                    url: "http://dimo1.ii.uam.es:8080/Socio-rest/configuration/visibility/Socio-App/"  + me + "/" + roomName + "/" + roomPriv,
                    contentType: 'application/json',
                    dataType:'json',
                    responseType:'json',
                    data: JSON.stringify(user),
                    xhrFields: {
                        withCredentials: false
                    },
                    headers: {
                        'Access-Control-Allow-Credentials' : true,
                        'Access-Control-Allow-Origin':'*',
                        'Access-Control-Allow-Methods':'POST',
                        'Access-Control-Allow-Headers':'application/json',
                    },
                    success: function(data) {
                        console.log(data);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
        
    </script>
    {% endblock %}
{% endblock content %}
