{% extends "../base.html" %}
{% load static %}
{% block content %}
<body>
    <div class="room-select">
        <br/>
        <input id="room-name-input" type="text" maxlength="12" size="40" placeholder="Name of the room you want to create" onkeypress="return AvoidSpace(event)"/><br/>      
        <font color="red"><div id="errorDiv"></div></font>
        <input type="radio" name="privacity" value="public" checked> Public
        <input type="radio" name="privacity" value="private"> Private<br>
        <input class="btn btn-primary" id="room-name-submit" type="button" value="Enter"/> 
    </div> 
    <div class="room-select1">
            <h5>Your Rooms</h5>
            {% for room in rooms %}
                {% if room.author == request.user %}
                        {% if room.private == "public" %}
                            <article class="media content-section">
                                <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom.png' %}">
                                <div class="media-body">
                                        <p>Room: <a href="/chatroom/{{room.name}}/public"><strong>{{room.name}}</strong> </a></p>
                                        <p> Author: {{room.author}} </p>
                                        <p> Privacity: {{ room.private }}</p>
                                        <p> Members: 
                                            {% for member in room.member_set.all %}
                                                - {{ member.user }} 
                                            {% endfor %}
                                        </p>
                                        <div>
                                            <a class="btn btn-success btn-sm mt-1 mb-1" href="/chatroom/{{room.name}}/public">Access</a>
                                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'room-delete' room.id %}">Delete</a>
                                        </div>
                                </div>
                            </article>
                            
                        {% else %}
                            <article class="media content-section">
                                <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom.png' %}">
                                <div class="media-body">
                                        <p>Room: <a href="/chatroom/{{room.name}}/private"><strong>{{room.name}}</strong> </a></p>
                                        <p> Author: {{room.author}} </p>
                                        <p> Privacity: {{ room.private }}</p>
                                        <p> Members:
                                            {% for member in room.member_set.all %}
                                                - {{ member.user }} 
                                            {% endfor %}
                                        </p>
                                        <div>
                                            <a class="btn btn-success btn-sm mt-1 mb-1" href="/chatroom/{{room.name}}/public">Access</a>
                                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="#">Delete</a>
                                        </div>
                                </div>
                            </article>
                        {% endif %}
                {% endif %}  
            {% endfor %} 
    </div>
    <div class="room-select2">
            <h5>Other's Rooms</h5>
            {% for room in rooms %}
                {% if room.author != request.user %}
                    
                    {% if room.private == public %}
                        <article class="media content-section">
                            <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom-priv.png' %}">
                            <div class="media-body">
                                    <p>Room: <a href="/chatroom/{{room.name}}/public"><strong>{{room.name}}</strong> </a></p>
                                <p> Author: {{room.author}} </p>
                                <p> Privacity: {{ room.private }}</p>
                                <p> Members: 
                                    {% for member in room.member_set.all %}
                                        - {{ member.user }} 
                                    {% endfor %}
                                </p>
                                <div>
                                    <a class="btn btn-success btn-sm mt-1 mb-1" href="/chatroom/{{room.name}}/public">Access</a>
                                </div>
                            </div>
                        </article>
                    {% else %}
                        <article class="media content-section">
                            <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom-priv.png' %}">
                            <div class="media-body">
                                    <p>Room: <a href="/chatroom/{{room.name}}/private"><strong>{{room.name}}</strong> </a></p>
                                    <p> Author: {{room.author}} </p>
                                    <p> Privacity: {{ room.private }}</p>
                                    <p> Members:
                                        {% for member in room.member_set.all %}
                                            - {{ member.user }} 
                                        {% endfor %}
                                    </p>
                                    <div>
                                        <a class="btn btn-success btn-sm mt-1 mb-1" href="/chatroom/{{room.name}}/public">Access</a>
                                    </div>
                            </div>
                        </article>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <input type="hidden" id='myUsername' value='{{ user.username }}' />
            <input type="hidden" id='userId' value='{{ user.id }}' />
    </div>

    {% block script %}
    
    <script>
        
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            var privacity = document.querySelector('input[name="privacity"]:checked').value;
            var me = $("#myUsername").val()
            var user_id = $("#userId").val()

            var user = {
                nick: $("#myUsername").val(),
                name: $("#myUsername").val(),
                channel: "Socio-App",
                id: user_id
            }

            $.ajax({
                type: 'POST',
                url: "http://dimo1.ii.uam.es:8080/Socio-rest/configuration/new_project/" + roomName + "/" + privacity,
                contentType: 'application/json',
                dataType:'json',
                responseType:'application/json',
                data: JSON.stringify(user),
                xhrFields: {
                    withCredentials: false
                },
                headers: {
                    'Access-Control-Allow-Credentials' : true,
                    'Access-Control-Allow-Origin':'*',
                    'Access-Control-Allow-Methods':'POST',
                    'Access-Control-Allow-Headers':'application/json',
                },
                success: function(data) {
                    console.log(data);
                    window.location.pathname = '/chatroom/' + roomName + '/' + privacity + '/';
                },
                error: function(error) {
                    console.log("FAIL....=================");
                }
            });

            

        };

        function AvoidSpace(event) {
            var k = event ? event.which : window.event.keyCode;
            var errorDiv = document.getElementById("errorDiv")
            if (k < 65){
                errorDiv.innerHTML = "Alphabetic characters only!";  
                return false;
            }
        }
    </script>
    {% endblock %}
</body>
{% endblock %}