{% extends "../base.html" %}
{% load static %}
{% block content %}
<body>
    <div class="room-preview1">
        <h5>Last Messages in your Rooms</h5>
        {% for chat in chats %}
            {% if chat.room.author == request.user %}
                {% if chat.room.private == "public" %}
                    <article class="media content-section">
                        <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom.png' %}">
                        <div class="media-body">
                            <a href="/chatroom/{{chat.room.name}}/public"><strong> {{chat.room.name}} <small> at  {{chat.timestamp}} </small> </strong> </a>
                            <p> <strong> By {{ chat.user }} </strong> - <mark>{{ chat.message }}</mark> </p>
                        </div>
                    </article>
                {% else %}
                    <article class="media content-section">
                        <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom.png' %}">
                        <div class="media-body">
                            <a href="/chatroom/{{chat.room.name}}/private"><strong> {{chat.room.name}} <small> at  {{chat.timestamp}} </small> </strong> </a>
                            <p> <strong> By {{ chat.user }} </strong> - <mark>{{ chat.message }}</mark></p>
                        </div>
                    </article>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>  
    <div class="room-preview2">
        <h5>Last Messages in other's Rooms</h5>
        {% for chat in chats %}
            {% if chat.room.author != request.user %}
                {% if chat.room.private == "public" %}
                    <article class="media content-section">
                        <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom-priv.png' %}">
                        <div class="media-body">
                            <a href="/chatroom/{{chat.room.name}}/public"> <strong> {{chat.room.name}} <small> at  {{chat.timestamp}} </small> </strong> </a>
                            <p> <strong> By {{ chat.user }} </strong> - <mark>{{ chat.message }}</mark></p>
                        </div>
                    </article>
                {% else %}
                    <article class="media content-section">
                        <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom-priv.png' %}">
                        <div class="media-body">
                            <a href="/chatroom/{{chat.room.name}}/private"><strong> {{chat.room.name}} <small> at  {{chat.timestamp}} </small> </strong> </a>
                            <p> <strong> By {{ chat.user }} </strong> - <mark>{{ chat.message }}</mark></p>
                        </div>
                    </article>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>       
    
    <div class="room-preview3">
        <h5>Last Messages Per Room</h5>
        {% for chats in lastchats %}
            {% for chat in chats %}
                {% if chat.room.author == request.user %}
                    {% if chat.room.private == "public" %}
                        <article class="media content-section">
                            <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom.png' %}">
                            <div class="media-body">
                                <a href="/chatroom/{{chat.room.name}}/public"> <strong> {{chat.room.name}} <small> at  {{chat.timestamp}} </small> </strong> </a>
                                <p> <strong> By {{ chat.user }} </strong> - <mark>{{ chat.message }}</mark></p>
                            </div>
                        </article>
                    {% else %}
                        <article class="media content-section">
                            <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom.png' %}">
                            <div class="media-body">
                                <a href="/chatroom/{{chat.room.name}}/private"><strong> {{chat.room.name}} <small> at  {{chat.timestamp}} </small> </strong> </a>
                                <p> <strong> By {{ chat.user }} </strong> - <mark>{{ chat.message }}</mark></p>
                            </div>
                        </article>
                    {% endif %}
                {% else %}
                    {% if chat.room.private == "public" %}
                        <article class="media content-section">
                            <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom-priv.png' %}">
                            <div class="media-body">
                                <a href="/chatroom/{{chat.room.name}}/public"> <strong> {{chat.room.name}} <small> at  {{chat.timestamp}} </small> </strong> </a>
                                <p> <strong> By {{ chat.user }} </strong> - <mark>{{ chat.message }}</mark></p>
                            </div>
                        </article>
                    {% else %}
                        <article class="media content-section">
                            <img class="rounded-circle article-img" src="{% static 'chatroom/chatroom-priv.png' %}">
                            <div class="media-body">
                                <a href="/chatroom/{{chat.room.name}}/private"><strong> {{chat.room.name}} <small> at  {{chat.timestamp}} </small> </strong> </a>
                                <p> <strong> By {{ chat.user }} </strong> - <mark>{{ chat.message }}</mark></p>
                            </div>
                        </article>
                    {% endif %}   
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            var privacity = document.querySelector('input[name="privacity"]:checked').value;
            window.location.pathname = '/chatroom/' + roomName + '/' + privacity + '/';
        };
    </script>

    <script>
        
    </script>
</body>
{% endblock %}