<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style class="cp-pen-styles">

  .container{max-width:1170px; margin:auto;}
        img{ max-width:100%;}
        .inbox_people {
          background: #f8f8f8 none repeat scroll 0 0;
          float: left;
          overflow: hidden;
          width: 25%; border-right:1px solid #c4c4c4;
        }
        .inbox_actions {
          background: #f8f8f8 none repeat scroll 0 0;
          float: left;
          overflow: hidden;
          width: 25%; border-right:1px solid #c4c4c4;
        }
        .inbox_msg {
          border: 1px solid #c4c4c4;
          clear: both;
          overflow: hidden;
        }
        .top_spac{ margin: 20px 0 0;}
        
        
        .recent_heading {float: left; width:100%;}
        .srch_bar {
          text-align: right;
          width: 60%; padding:
        }
        .headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}
        
        .recent_heading h4 {
          color: #05728f;
          font-size: 21px;
          margin: auto;
          margin-top: 20px;
        }
        .srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;margin-top: 20px;}
        .srch_bar .input-group-addon button {
          background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
          border: medium none;
          padding: 0;
          color: #707070;
          font-size: 18px;
        }
        .srch_bar .input-group-addon { margin: 0 0 0 -27px;}
        
        .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
        .chat_ib h6{ font-size:15px; color:#00ce33; margin:0 0 8px 0;}
        .chat_ib h5 span{ font-size:13px; float:right;}
        .chat_ib p{ font-size:14px; color:#989898; margin:auto}
        .chat_img {
          float: left;
          width: 11%;
          border-radius: 50%;
        }
        .chat_ib {
          float: left;
          padding: 0 0 0 15px;
          width: 88%;
        }
        
        .chat_people{ overflow:hidden; clear:both;}
        .chat_list {
          border-bottom: 1px solid #c4c4c4;
          margin: 0;
          padding: 18px 16px 10px;
        }
        .inbox_chat { height: 500px; overflow-y: scroll;}
        
        .active_chat{ background:#ebebeb;}
        p { word-break: break-all }
        .incoming_msg_img {
          width: 6%;
        }
        .received_msg {
          padding: 0 0 0 10px;
          vertical-align: top;
          width: 92%;
         }
         .received_withd_msg p {
          background: #ebebeb none repeat scroll 0 0;
          border-radius: 3px;
          color: #646464;
          font-size: 14px;
          margin: 0;
          padding: 5px 10px 5px 12px;
          width: 100%;
        }
        .time_date {
          color: #747474;
          font-size: 12px;
          margin: 4 px 0 0;
        }
        .author {
          color: #344d6d;
          display: block;
          font-size: 14px;
          font-weight: bold;
          margin: 4 px 0 0;
        }
        .received_withd_msg { width: 57%;}
        .mesgs {
          float: left;
          padding: 30px 15px 0 25px;
          width: 50%;
        }
         .received_msg p {
          background: #979797 none repeat scroll 0 0;
          border-radius: 3px;
          font-size: 14px;
          margin: 0; color:rgb(8, 0, 0);
          padding: 5px 10px 5px 12px;
          width:100%;
        }
        .incoming_msg{ overflow:hidden; margin:26px 0 26px;}
        .received_msg {
          float: left;
          width: 46%;
        }
         .sent_msg p {
          background: #05728f none repeat scroll 0 0;
          border-radius: 3px;
          font-size: 14px;
          margin: 0; color:#fff;
          padding: 5px 10px 5px 12px;
          width:100%;
        }
        .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
        .sent_msg {
          float: right;
          width: 30%;
        }
        .input_msg_write input {
          
          background: rgba(76, 234, 240, 0) none repeat scroll 0 0;
          color: #4c4c4c;
          font-size: 15px;
          min-height: 48px;
          width: 100%;
        }
        
        .type_msg {border-top: 1px solid #52c7c7;position: relative;}
        .msg_send_btn {
          background: #05728f none repeat scroll 0 0;
          color: rgb(104, 237, 255);
          cursor: pointer;
          font-size: 17px;
          height: 33px;
          position: absolute;
          right: 0;
          top: 11px;
          width: 33px;
        }
        .messaging { padding: 0 0 50px 0;}
        .msg_history {
          height: 400px;
          overflow-y: auto;
        }
        body {
          background: #9ddcfa;
          color: #333333;
          margin-top: 5rem;
        }

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-top: 60px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
#menu {
    padding: 0;
    margin: 0;
    border: 0; 
}
 
#menu ul, li {
    list-style: none;
    margin: 0;
    padding: 0; 
}
 
#menu ul {
    position: relative;
    z-index: 597;
    float: left; 
}
 
#menu ul li {
    float: left;
    min-height: 1px;
    line-height: 1em;
    vertical-align: middle; 
}
 
#menu ul li.hover,
#menu ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default; 
}
 
#menu ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%; 
}
 
#menu ul ul li {
    float:inherit; 
}
 
#menu ul li:hover > ul {
    visibility: visible; 
}
 
#menu ul ul {
    top: 0;
    nav-down: 100%; 
}
 
#menu ul li {
    float:left; 
}
 
#menu {
    width: 255px; 
}
 
#menu span, #menu a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none; 
}
 
#menu:after, #menu ul:after {
    content: '';
    clear: both; 
    margin
}
 
#menu ul, #menu li {
    width: 100%; 
}
#menu li {
    background: #dddddd;
}
#menu li:hover {
    background: #f6f6f6; 
}
#menu a {
    color: #666666;
    line-height: 160%;
    padding: 11px 28px 11px 28px;
    width: 253px; 
}
#menu ul ul li {
    background: #f6f6f6; 
}
#menu ul ul li:hover {
    background: #dddddd; 
}
#menu ul ul li:hover a {
    color: #666666; 
}
#menu ul ul li ul li {
    background: #dddddd; 
}
#menu ul ul li ul li:hover {
    background: #b7b7b7; 
}
#menu .has-sub {
    position:initial; 
}
 
#menu .has-sub:after, #menu .has-sub > ul > .has-sub:hover:after {
    content: '';
    display: block;
    width: 10px;
    height: 9px;
    position: absolute;
    bottom: 5px;
    top: 50%;
    margin-top: -5px;
}
 
#menu .fa-angle-rightright {
    float: right;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #3e6f7c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #3e6f7c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

</style>
{% load static %}
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">

  {% if title %}
  <title>Django Blog - {{ title }}</title>
  {% else %}
  <title>Django Blog</title>
  {% endif %}
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      {% if user.is_authenticated %}
        <a class="notify bell" data-status="close" href="{% url 'chatroom-notification' %}">
            <div class="notification-bell">
              <img src="{% static 'chatroom/notification_bell.png' %}" heigh="40px" width="40px"></img>
            </div>
                <div class="count" id="count" data-count="{{notification_count}}">
                    <strong>{{notification_count}}</strong>
                </div>
        </a>
      {% endif %}
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'home' %}">SOCIO APP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
            <a class="nav-item nav-link" href=#>About</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'profile' %}">{{ user }}'s Profile</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    {% block content %}
    <h3 class=" text-center">User {% if user != object.first %} {{ user }} Talking To {{ object.first }}{% else %} {{
      user }} Talking To {{ object.second }}{% endif %}</h3>
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>{% if object.private == 'public' %} Public {% else %} Private {% endif %} Room </h4>
            </div>
          </div>
          <div class="inbox_chat">
            {% for member in object.member_set.all %}
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img" class="rounded-circle article-img"> <img src="{{ member.user.profile.image.url }}">
                </div>
                <div class="chat_ib">
                  {% if member.user == object.author %}
                    {% if member.user == user %}
                    <h6>{{ member.user }} <small> RoomAdmin;CurrentUser </small></h6>
                    {% else %}
                    <h5>{{ member.user }} <small> RoomAdmin </small></h5>
                    {% endif %}
                  {% else %}
                    {% if member.user == user %}
                    <h6>{{ member.user }} <small>&nbsp;CurrentUser</small></h6>
                    {% else %}
                    <h5>{{ member.user }}</h5>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
            {% if object.private == 'private' and object.author == user %}
            <div class="chat_list">
              <form id="add_user" method="POST"> {% csrf_token %}
                <input type='text' name='user_name' id="user_name" />
                <input type='submit' class='btn btn-primary' value='Add' name="add_user_btn" />
              </form>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
            {% for chat in object.chatroommessage_set.all %}
            {% if chat.user == user %}
            <div class="outgoing_msg">
              <div class="sent_msg" id='chat-items-sent-now'>
                <input type="hidden" id='theUsername' value='{{ chat.username }}' />
                <p>{{ chat.message }}</p>
                <span class="time_date"><small> on {{chat.timestamp}}</small></span>
              </div>
            </div>
            {% else %}
            <div class="incoming_msg">
              <div class="received_msg">
                <div class="received_withd_msg">
                  <input type="hidden" id='theUsername' value='{{ chat.user }}' />
                  <p> <span class="author"> {{ chat.user }} </span> {{ chat.message }}</p>
                  <span class="time_date"> <small> on {{chat.timestamp}}</small></span>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            <div id='msg_container'>
            </div>
          </div>
          <label class="container">Talk with Socio
              <input type="checkbox" id="talk">
              <span class="checkmark"></span>
          </label>
          <div class="type_msg">
            <div class="input_msg_write">
              <form id='form' method='POST'> {% csrf_token %}       
                <input type="hidden" id='myUsername' value='{{ user.username }}' />
                {{ form.as_p }}
                <input type='submit' class='btn btn-primary' id="btn-chat" />
              </form>
              <!-- <input type="text" class="write_msg" placeholder="Type a message" />
                              <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button> -->
            </div>
          </div>
        </div>
        <div class="inbox_actions">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4> Actions </h4>
            </div>
          </div>
          <div class="inbox_chat">
            <div id="menu">
              <ul>
                <li class="has-sub"><a title="" href="#">Cofiguration</a>
                  <ul>
                    <li><a title=""><b>Cofiguration</b></a></li>
                    <li><a title="" href="#">New Project</a></li>
                    <li><a title="" href="#">Remove Project</a></li>
                    <li><a title="" href="#">Visibility</a></li>
                    <li><a title="" href="#">Validate</a></li>
                    <li><a title="" href="#">Add User</a></li>
                    <li><a title="" href="#">Remove User</a></li>
                    <li><a title="" href="#">Update User</a></li>
                    <li><a title="" href="#">New Branch</a></li>
                    <li><a title="" href="#">Branch Group</a></li>
                  </ul>
                </li>
                <li class="has-sub"><a title="" href="#">Edit</a>
                  <ul>
                    <li><a title=""><b>Edit</b></a></li>
                    <li><a title="" href="">Do</a>
                    <li><a title="" href="">Undo</a>
                    <li><a title="" href="">Redo</a>
                  </ul>
                </li>
                <li class="has-sub"><a title="" href="#">Info</a>
                  <ul>
                    <li><a title=""><b>Info</b></a></li>
                    <li><a id="AllProjectsPopUp" title="" href="javascript:void(0)">All Projects</a>
                    <li><a title="" href="">User Projects</a>
                    <li><a title="" href="">Writable Projects</a>
                    <li><a title="" href="">Readable Projects</a>
                    <li><a title="" href="">Projects Visibility</a>
                    <li><a title="" href="">Project Info</a>
                  </ul>
                </li>
                <li class="has-sub"><a title="" href="#">Statistics</a>
                  <ul>
                    <li><a title=""><b>Statistics</b></a></li>
                    <li><a title="" href="">All</a>
                    <li><a title="" href="">Per User</a>
                    <li><a title="" href="">Messages Per User</a>
                    <li><a title="" href="">Readable Projects</a>
                    <li><a title="" href="">Authorship</a>
                  </ul>
                </li>
                <li class="has-sub"><a title="" href="#">Record</a>
                  <ul>
                    <li><a title=""><b>Record</b></a></li>
                    <li><a title="" href="">Modeling Actions</a>
                    <li><a title="" href="">Project Management</a>
                  </ul>
                </li>
                <li class="has-sub"><a title="" href="#">Obtain Model</a>
                </li>
                </li>
                <li class="has-sub"><a id="HelpPopUp" title="" href="javascript:void(0)">Help</a>
                </li>
                <li class="has-sub"><a title="" href="#">Updates</a>
                  <ul>
                    <li><a title=""><b>Updates</b></a></li>
                    <li><a title="" href="">Register Channel</a>
                    <li><a title="" href="">Get Projects</a>
                    <li><a title="" href="">Get Messages</a>
                    <li><a title="" href="">Get Image</a>
                  </ul>
                </li>
                <li class="has-sub"><a title="" href="#">Polls</a>
                  <ul>
                    <li><a title=""><b>Polls</b></a></li>
                    <li><a title="" href="">Set Choice</a>
                    <li><a title="" href="">Consensus</a>
                    <li><a title="" href="">Start Poll</a>
                    <li><a title="" href="">Get Poll</a>
                    <li><a title="" href="">Add Poll</a>
                    <li><a title="" href="">Get End Poll</a>
                  </ul>
                </li>

              </ul>
              </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>

  {% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>
  <script>
    // websocket scripts
    // console.log(window.location)
    var loc = window.location
    var formData = $("#form")
    var formAddData = $("#add_user")
    var usrInput = $("#user_name")
    var roomInput = $("#room_name")
    var msgInput = $("#id_message")
    var msgRaw = $("#msg_container")
    var chatHolderSent = $("#chat-items-sent-now")
    var me = $("#myUsername").val()
    var user = $("#theUsername")

    var wsStart = 'ws://'
    if (loc.protocol == 'https:') {
      wsStart = 'wss://'
    }
    var endpoint = wsStart + loc.host + loc.pathname
    var socket = new ReconnectingWebSocket(endpoint)

    socket.onmessage = function (e) {
      console.log("message", e)
      var chatDataMsg = JSON.parse(e.data)

      if (me != chatDataMsg.username) {
        msgRaw.append("<div class=" + '"' + "incoming_msg" + '"' + "><div class=" + '"' + "received_msg" + '"' + "><div class=" + '"' + "received_withd_msg" + '"' + "><p> <span class=" + '"' + "author" + '"' + ">" + chatDataMsg.username + "</span>" + chatDataMsg.message + "</p> <span class=" + '"' + "time_date" + '"' + "><small> rigth now </small></span></div></div>")
      }   /* <div class="received_withd_msg"> */
      if (me == chatDataMsg.username) {
        msgRaw.append("<div class=" + '"' + "outgoing_msg" + '"' + "><div class=" + '"' + "sent_msg" + '"' + "><p>" + chatDataMsg.message + "</p> <span class=" + '"' + "time_date" + '"' + "> by you <small> rigth now </small></span></div></div>")
      }

      console.log("Notificacion de mensaje")

    }
    socket.onopen = function (e) {
      console.log("open", e)
      formData.submit(function (event) {
        event.preventDefault()
        var msgText = msgInput.val()
        var finalData = {
          'message': msgText
        }
        socket.send(JSON.stringify(finalData))
        formData[0].reset()
      })
    }
    socket.onerror = function (e) {
      console.log("error", e)
    }
    socket.onclose = function (e) {
      console.log("close", e)
    }

    //    http://dimo1.ii.uam.es:8080/Socio-rest/

    $("#HelpPopUp").click(function() {      
      $.ajax({
        type: 'GET',
        url: "http://dimo1.ii.uam.es:8080/Socio-rest/help",
        contentType: 'application/json',
        dataType:'json',
        responseType:'application/json',
        xhrFields: {
          withCredentials: false
        },
        headers: {
          'Access-Control-Allow-Credentials' : true,
          'Access-Control-Allow-Origin':'*',
          'Access-Control-Allow-Methods':'GET',
          'Access-Control-Allow-Headers':'application/json',
        },
        success: function(data) {
          console.log(data);
          alertify.alert(data.text + data.url, function(){
              alertify.message('Help');
          });
        },
        error: function(error) {
          console.log("FAIL....=================");
        }
      });
    });

    $("#AllProjectsPopUp").click(function() {    
      $.ajax({
        type: 'GET',
        url: "http://dimo1.ii.uam.es:8080/Socio-rest/projects",
        contentType: 'application/json',
        dataType:'json',
        responseType:'application/json',
        xhrFields: {
          withCredentials: false
        },
        headers: {
          'Access-Control-Allow-Credentials' : true,
          'Access-Control-Allow-Origin':'*',
          'Access-Control-Allow-Methods':'GET',
          'Access-Control-Allow-Headers':'application/json',
        },
        success: function(data) {
          var proys = "";
          proys.concat(data.projectList.forEach(function(element) {
                                                      element.admin.nick;
                                                    }));
                                                    
          console.log(proys);                                          
          alertify.alert(proys, function(){
              alertify.message('Info -> All Projects');
          });
        },
        error: function(error) {
          console.log("FAIL....=================");
        }
      });
    });

  </script>


  <!-- <script>
  $(function() {
      $("#add_user").submit(function(event) {
          // Stop form from submitting normally
          event.preventDefault();
          var friendForm = $(this);
          // Send the data using post
          var posting = $.post( friendForm.attr('action'), friendForm.serialize() );
          // if success:
          posting.done(function(data) {
            console.log("Added")
            // success actions, maybe change submit button to 'friend added' or whatever
          });
          // if failure:
          posting.fail(function(data) {
            console.log("Not Added")
              // 4xx or 5xx response, alert user about failure
          });
          $("#add_user")[0].reset()
      });
  });
</script> -->
  {% endblock %}