{% extends "../base.html" %}
{% load static %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Room</legend>
                <h2>Are you sure you want to delete the room "{{ object.name }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger"  type="submit" id="loadTweets">Yes, Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'chatroom-home' %}">Cancel</a>
            </div>
        </form>
        <input type="hidden" id='myUsername' value='{{ user.username }}' />
        <input type="hidden" id='userId' value='{{ user.id }}' />
        <input type="hidden" id='roomName' value='{{ object.name }}' />
    </div>
{% endblock content %}

{% block script %}
    
    <script>
        var delete_room = function(){
            var roomName = $("#roomName").val()
            var me = $("#myUsername").val()
            var user_id = $("#userId").val()

            var user = {
                nick: $("#myUsername").val(),
                name: $("#myUsername").val(),
                channel: "Socio-App",
                id: user_id
            }
            ///configuration/remove_project/{channel}/{user_admin}/{Project_name}
            $.ajax({
                type: 'POST',
                url: "http://dimo1.ii.uam.es:8080/Socio-rest/configuration/remove_project/Socio-App/"  + me + "/" + roomName,
                contentType: 'application/json',
                dataType:'json',
                responseType:'application/json',
                data: JSON.stringify(user),
                xhrFields: {
                    withCredentials: false
                },
                headers: {
                    'Access-Control-Allow-Credentials' : true,
                    'Access-Control-Allow-Origin':'*',
                    'Access-Control-Allow-Methods':'POST',
                    'Access-Control-Allow-Headers':'application/json',
                },
                success: function(data) {
                    console.log(data);
                },
                error: function(error) {
                    console.log("FAIL....=================");
                }
            });

            

        };

        
    </script>
    {% endblock %}
