{% load staticfiles %}
<style>
body {
  background: url("{% static 'chatroom/favicon.ico' %}") 100% 100% no-repeat fixed;
  color: #333333;
  margin-top: 10%;
}

h1, h2, h3, h4, h6 {
  color: #444444;
}

h5{
  color: #428bca;
}

p {
  color: #428bca;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
  
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
.room-select{
  margin-top: 60px;
  float: left;   
}

.home-preview{
  margin-top: 60px;
  margin-left: 10px;
  min-width: 100%;
}

.home-title{
  margin-left: 30%;
  margin-right: 30%;
}

.room-preview1{
  margin-top: 60px;
  margin-left: 10px;
  float: left;   
  max-width: 31%;
  min-width: 31%;
}
.room-preview2{
  margin-top: 60px;
  margin-left: 10px;
  float: left;   
  max-width: 31%;
  min-width: 31%;
}

.room-preview3{
  margin-top: 60px;
  margin-left: 10px;
  float: left;   
  max-width: 31%;
  min-width: 31%;
}

.room-select1{
  margin-top: 60px;
  margin-left: 60px;
  float: left;   
  min-width: 28%;
  max-width: 28%;
  
}
.room-select-other{
  margin-top: 60px;
  margin-left: 50px;
  float: rigth;   
  min-width:30%;
  max-width: 30%;
  
}

.room-select2{
  margin-top: 60px;
  margin-left: 100px;
  float: left;   
  min-width: 28%;
  max-width: 28%;
}

.content-section {
  background: #d6d8d7;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top:40px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
}

.content-section-home {
  min-width: 100%;
  max-width: 100%;
  background: #d6d8d7;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top:40px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
}

.content-section-bot {
  background: #86e6b6;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top:40px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
}

.content-section-bot-external {
  background: #ccf806;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top:40px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
}

.content-section-form {
  background: #d6d8d7;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top:5% ;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
  width: 50%;
  margin: 5% auto;
}

.home-presentation{
  margin-top: 75px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.img-notification {
  max-width: 75%;
  max-height: 75%;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

mark { 
  background-color: black;
  color: rgb(93, 93, 228);
}

iframe{
margin-top: 20px;
margin-bottom: 30px;
-moz-border-radius: 12px;
-webkit-border-radius: 12px;
border-radius: 12px;
-moz-box-shadow: 4px 4px 14px #000;
-webkit-box-shadow: 4px 4px 14px #000;
box-shadow: 4px 4px 14px #000;
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
} 

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 1000;
}

</style>

<html>
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Socio App</title>

    <link rel="shortcut icon" type="image/png" href="{% static 'chatroom/favicon.ico' %}"/>
    <!-- <link rel="shortcut icon" href="{% static 'cfehome/favicon.ico' %}"/> -->
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        {% if user.is_authenticated %}
          <a class="notify bell" data-status="close" href="{% url 'chatroom-notification' %}">
              <div class="notification-bell" id ="notification-bell">
                  <!-- <img src="https://i.ibb.co/PTkR9zw/notification-bell.png" heigh="40px" width="40px"></img>
                  <img src="https://i.ibb.co/wh1DgZ4/notification-bell-active.png" heigh="40px" width="40px"></img>   -->
              </div>
              <script type="text/javascript">
                window.onload = function(){
                    console.log("EJECUTANDO HILO");
                    var url = "http://dimo1.ii.uam.es:8080/Socio-rest/updates/getupdates/Socio-App";
                    var notifBell = $("notification-bell")
                    var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
                    var elem = document.createElement("img");
                    STATIC_URL = "https://i.ibb.co/PTkR9zw/notification-bell.png"
                    xmlhttp.onreadystatechange = function(){
                      if(xmlhttp.readyState == 4) {
                          if(xmlhttp.status == 200) {
                            var data = xmlhttp.response;
                            if(data.projectList.length > 0){
                              console.log("NOTIFICACION!!");
                              elem.src = 'https://i.ibb.co/wh1DgZ4/notification-bell-active.png';
                              elem.style.height = '40px';
                              document.getElementById("notification-bell").appendChild(elem);
                            }     
                            else{
                              console.log("NO NOTIFICACION!!");
                              elem.src = 'https://i.ibb.co/PTkR9zw/notification-bell.png';
                              elem.style.height = '40px';
                              document.getElementById("notification-bell").appendChild(elem);
                            }                     
                          } 
                      } else if(xmlhttp.readyState == 2) {
                          if(xmlhttp.status == 200) {
                              xmlhttp.responseType = "json";
                          } else {
                              xmlhttp.responseType = "text";
                          }
                      }
                    }
                    xmlhttp.open("GET", url);
                    xmlhttp.send();
                  };
               </script>
          </a>
        {% endif %}
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'home' %}">SOCIO APP</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'chatroom-home' %}">Chat Room</a>
                <a class="nav-item nav-link" href="{% url 'otherapps-home' %}">Other App's Projects</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}">{{ user }}'s Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <div class="row">
          {% block content %} {% endblock %}
      </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>
</body>
</html>
