{% extends "base.html" %}

{% block content %}

<body>
    <div class="home-preview">
        <article class="media content-section-home">
            <h1 class="home-title">Welcome to SOCIO APP</h1> 
        </article>
            <iframe width=100% height=75%
                    src="https://www.youtube.com/embed/kHf2qNtfNW4">
            </iframe>
        
    </div>
</body>

<script>
    function once(fn, context) { 
        var result;
        return function() { 
            if(fn) {
                result = fn.apply(context || this, arguments);
                fn = null;
            }
            return result;
        };
    }
    var registerChannel = once(function() {
        var url = "http://dimo1.ii.uam.es:8080/Socio-rest/updates/register/Socio-App";
        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
        xmlhttp.onreadystatechange = function(){
            if(xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                console.log("Channel Socio-Appp succesfully registered");    
            }
        }
        xmlhttp.open("GET", url);
        xmlhttp.send();
    });
    registerChannel();

    // window.onload = function() {
    //     var registerChannel = (function() {
    //         var executed = false;
    //         return function() {
    //             if (!executed) {
    //                 executed = true;
    //                 var url = "http://dimo1.ii.uam.es:8080/Socio-rest/updates/register/Socio-App";
    //                 var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
    //                 xmlhttp.onreadystatechange = function(){
    //                     if(xmlhttp.readyState == 4 && xmlhttp.status == 200) {
    //                         console.log("Channel Socio-Appp succesfully registered");    
    //                     }
    //                 }
    //                 xmlhttp.open("GET", url);
    //                 xmlhttp.send();
    //             }       
    //         };
    //     })();

    //     registerChannel();
    // };
</script>

{% endblock %}